In [1]:
#Packages:
import pandas as pd
import string
import os
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sqlalchemy import create_engine, text

In [19]:
#maximum number of rows to display
pd.set_option('display.max_columns', 50)
pd.set_option('display.max_rows', 500)

### Classes

In [3]:
class DbEngine():
    def __init__(self, user, password, ip, port, db):
        self.user = user
        self.password = password
        self.ip = ip
        self.port = port
        self.db = db
    
    def connect(self):
        return create_engine('postgresql://{}:{}@{}:{}/{}' \
                                .format(self.user, 
                                        self.password,
                                        self.ip,
                                        self.port,
                                        self.db), max_overflow=20)

In [4]:
class Queries():
    def __init__(self, engine):
        self.engine = engine
    
    def run(self, sql):
        result = self.engine.connect().execution_options(isolation_level="AUTOCOMMIT").execute((text(sql)))
        return pd.DataFrame(result.fetchall(), columns=result.keys())
    
    def insert(self, sql):
        return self.engine.connect().execution_options(isolation_level="AUTOCOMMIT").execute((text(sql)))

In [5]:
class ETL():
    def __init__(self, query_obj):
        self.queries = query_obj
        
    def inmate_static_info(self, data):
        ############## etnic recognition
        data_people = data[['INTERNOEN', 'GENERO', 'PAIS_INTERNO', 'REINCIDENTE', 
                            'ANO_NACIMIENTO', 'ESTADO_CIVIL','NIVEL_EDUCATIVO', 'CONDIC_EXPECIONAL']] \
                      .drop_duplicates(subset = ["INTERNOEN"])
        data_people = data_people.reset_index(drop=True)
        data_people['CONDIC_EXPECIONAL'] = data_people['CONDIC_EXPECIONAL'].fillna('NINGUNO')
        
        etnic_recognition = self.queries.run("""select * from reconocimiento_etnico""")
        data_people['reconocimiento_etnico'] = 'NINGUNO'
        for i in etnic_recognition.index:
            data_people.loc[(data_people['CONDIC_EXPECIONAL'].str.contains(etnic_recognition['nombre'].values[i])),
                            'reconocimiento_etnico'] =  etnic_recognition['nombre'].values[i]
            
        ############## foreign
        data_people['extranjero'] = 'N'
        data_people.loc[(data_people['CONDIC_EXPECIONAL'].str.contains('EXTRANJEROS')),'extranjero'] =  'S'
        
        ############## sexual diversity
        sexual_dive = self.queries.run("""select * from diversidad_sexual""")
        data_people['diversidad_sexual'] = 'N'
        for i in sexual_dive.index:
            data_people.loc[(data_people['CONDIC_EXPECIONAL'].str.contains(sexual_dive['nombre'].values[i])),
                            'diversidad_sexual'] =  'S'
    
        personas_genero = self.queries.run("""select * from persona where diversidad_sexual = 2""")
        for i in personas_genero.index:
            for j in sexual_dive.index:
                if sexual_dive['nombre'].values[j] in personas_genero['condicion_exepcional'].values[i]:
                    query = str(personas_genero['id_persona'].values[i]) + ', ' \
                                + str(sexual_dive['id_diversidad_sexual'].values[j])
                    self.queries.insert('INSERT INTO public.persona_diversidad_sexual (id_persona, id_diversidad_sexual) VALUES('+query+');')
        
        ############## people
        data_people.to_sql('personas_tmp', con=self.queries.engine)
        self.queries.run('select * from personas_tmp limit 5')
        self.queries.run('SELECT public.tcompararpersonas();')
        
    def inmate_variable_info(self, data):
        data_reg= data[['INTERNOEN', 'GENERO','DELITO','ESTADO_INGRESO','FECHA_CAPTURA',
                        'FECHA_INGRESO','ESTABLECIMIENTO','TENTATIVA','SUBTITULO_DELITO',
                        'AGRAVADO', 'CALIFICADO','FECHA_SALIDA','EDAD','DEPARTAMENTO', 'CIUDAD',
                        'ACTIVIDADES_TRABAJO', 'ACTIVIDADES_ESTUDIO', 'ACTIVIDADES_ENSEÑANZA',
                        'HIJOS_MENORES', 'CONDIC_EXPECIONAL','ESTADO','SITUACION_JURIDICA']]
        
        ############## No exceptional condition
        data_reg['CONDIC_EXPECIONAL'] = data_reg['CONDIC_EXPECIONAL'].fillna('NINGUNO')

        ############## Madre Gestantes
        data_reg['madre_gestante'] = 'NA'
        data_reg.loc[(data_reg['GENERO'].str.contains('FEMENINO')),'madre_gestante'] = 'N'
        data_reg.loc[(data_reg['CONDIC_EXPECIONAL'].str.contains('MADRE GESTANTE')),'madre_gestante'] =  'S'

        data_reg['madre_lactante'] = 'NA'
        data_reg.loc[(data_reg['GENERO'].str.contains('FEMENINO')),'madre_lactante'] = 'N'
        data_reg.loc[(data_reg['CONDIC_EXPECIONAL'].str.contains('MADRE LACTANTE')),'madre_lactante'] =  'S'

        ############## Discapacitad
        data_reg['discapacidad'] = 'N'
        data_reg.loc[(data_reg['CONDIC_EXPECIONAL'].str.contains('CON DISCAPACIDAD')),'discapacidad'] =  'S'

        ############## Adulto Mayor
        data_reg['adulto_mayor'] = 'N'
        data_reg.loc[(data_reg['CONDIC_EXPECIONAL'].str.contains('ADULTO MAYOR')),'adulto_mayor'] =  'S'
        
        ############## registro
        data_reg.to_sql('registros_tmp', con=self.queries.engine)
        self.queries.run('select * from registros_tmp limit 5')
        self.queries.run('SELECT public.tcompararreg();')

### Insert Data

#### Loading Data

In [6]:
# data reading from excel
data = pd.read_excel('data/ReincidenciaPospenadosNal201011Junio2020Rev.xlsx', skiprows = 6)
data.count()

INTERNOEN                142899
DELITO                   142899
TITULO_DELITO            142899
SUBTITULO_DELITO         142899
TENTATIVA                142899
                          ...
ESTABLECIMIENTO          142899
DEPTO_ESTABLECIMIENTO    140108
MPIO_ESTABLECIMIENTO     140108
REGIONAL                 142899
ESTADO                   142899
Length: 32, dtype: int64

In [7]:
data.columns

Index(['INTERNOEN', 'DELITO', 'TITULO_DELITO', 'SUBTITULO_DELITO', 'TENTATIVA',
       'AGRAVADO', 'CALIFICADO', 'FECHA_INGRESO', 'FECHA_SALIDA',
       'FECHA_CAPTURA', 'SITUACION_JURIDICA', 'ANO_NACIMIENTO', 'EDAD',
       'GENERO', 'ESTADO_CIVIL', 'PAIS_INTERNO', 'DEPARTAMENTO', 'CIUDAD',
       'REINCIDENTE', 'ESTADO_INGRESO', 'ACTIVIDADES_TRABAJO',
       'ACTIVIDADES_ESTUDIO', 'ACTIVIDADES_ENSEÑANZA', 'NIVEL_EDUCATIVO',
       'HIJOS_MENORES', 'CONDIC_EXPECIONAL', 'CODIGO_ESTABLECIMIENTO',
       'ESTABLECIMIENTO', 'DEPTO_ESTABLECIMIENTO', 'MPIO_ESTABLECIMIENTO',
       'REGIONAL', 'ESTADO'],
      dtype='object')

#### ETL

In [8]:
db_engine = DbEngine(user = 'team77', 
                     password = 'mintic2020.',
                     ip = '172.17.0.2', 
                     port = '5432', 
                     db = 'minjusticia')
engine = db_engine.connect()

In [9]:
queries = Queries(engine)

In [10]:
etl = ETL(queries)

In [11]:
etl.inmate_static_info(data)
etl.inmate_variable_info(data)

/opt/conda/envs/nlp/lib/python3.7/site-packages/ipykernel_launcher.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/conda/envs/nlp/lib/python3.7/site-packages/ipykernel_launcher.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/conda/envs/nlp/lib/python3.7/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s
/opt/conda/envs/nlp/lib/python3.7/site-packages/ipykernel_launcher.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/conda/envs/nlp/lib/python3.7/site-packages/ipykernel_launcher.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/conda/envs/nlp/lib/python3.7/site-packages/ipykernel_launcher.py:67: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

### Joining Data

In [20]:
df = queries.run('select * from persona left join registro on persona.id_persona = registro.persona_id_persona')
df

,id_persona,internoen,genero,nacionalidad,reincidente,anio_nacimiento,estado_civil,nivel_educativo,reconocimiento_etnico,diversidad_sexual,extranjero,condicion_exepcional,persona_id_persona,delito_id_delito,estado_ingreso,id_registro,fecha_captura,fecha_ingreso,establecimiento,tentativa,agravado,calificado,fecha_salida,edad,municipio_id_municipio,actividades_estudio,actividades_trabajo,actividades_enseñanza,hijos_menores,condicion_excepcional,estado_id_estado,situacion_juridica,madre_gestante,madre_lactante,discapacidad,adulto_mayor
0,45103,0008649DEF36F510807D0AB58A84CF74E6083FBF,2,22,2,1979,7,2,5,1,1,NINGUNO,45103,145,4,12,2020-02-04,2019-09-02,14,1,2,1,None,40,1,1,2,1,2,NINGUNO,1,1,3,3,1,1
1,45103,0008649DEF36F510807D0AB58A84CF74E6083FBF,2,22,2,1979,7,2,5,1,1,NINGUNO,45103,42,4,13,2020-02-04,2019-09-02,14,1,1,1,None,40,1,1,2,1,2,NINGUNO,1,1,3,3,1,1
2,45103,0008649DEF36F510807D0AB58A84CF74E6083FBF,2,22,2,1979,7,2,5,1,1,NINGUNO,45103,42,2,14,2016-01-22,2016-01-29,16,1,1,1,2017-02-02,40,1,1,2,1,2,NINGUNO,2,1,3,3,1,1
3,45103,0008649DEF36F510807D0AB58A84CF74E6083FBF,2,22,2,1979,7,2,5,1,1,NINGUNO,45103,145,2,15,2016-01-22,2016-01-29,16,1,1,1,2017-02-02,40,1,1,2,1,2,NINGUNO,2,1,3,3,1,1
4,58532,0016C0F299261311C9AD0D08788FDC0B35AF1D34,2,22,2,1984,7,5,5,1,1,NINGUNO,58532,262,4,34,2017-12-11,2017-12-11,133,1,1,1,None,36,1,1,2,1,2,NINGUNO,1,1,3,3,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142894,51415,FFF4BFD72BB34166BB4792F33635E074D9208D91,2,22,2,1985,6,4,5,1,1,NINGUNO,51415,42,4,142872,2016-08-27,2016-12-09,112,1,1,1,None,35,1,1,2,1,2,NINGUNO,1,1,3,3,1,1
142895,71840,FFF5368EAC547E0EC82267C6B4A36E125BB23391,1,22,2,1958,1,4,5,1,1,NINGUNO,71840,137,6,142873,2019-07-05,2019-07-08,81,1,1,1,None,61,1,1,2,1,2,NINGUNO,1,1,1,1,1,1
142896,55314,FFF7ADD27607233E4A4D1BCF0689EEE1812E1727,2,22,2,1996,6,2,5,1,1,NINGUNO,55314,145,4,142876,2017-06-09,2017-07-12,13,1,2,2,None,23,1,2,1,1,2,NINGUNO,1,1,3,3,1,1
142897,50172,FFF9F0A1B5F522FF4B29102FEDAE087EC6380416,2,22,2,1962,3,9,5,1,1,NINGUNO,50172,232,5,142882,2011-03-31,2016-10-01,113,1,1,1,2018-01-24,58,1,2,2,1,2,NINGUNO,2,1,3,3,1,1
142898,50172,FFF9F0A1B5F522FF4B29102FEDAE087EC6380416,2,22,2,1962,3,9,5,1,1,NINGUNO,50172,232,5,142883,2016-07-15,2016-10-01,113,1,1,1,2018-01-24,58,1,2,2,1,2,NINGUNO,2,1,3,3,1,1

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142899 entries, 0 to 142898
Data columns (total 36 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id_persona              142899 non-null  int64
 1   internoen               142899 non-null  object
 2   genero                  142899 non-null  int64
 3   nacionalidad            142899 non-null  int64
 4   reincidente             142899 non-null  int64
 5   anio_nacimiento         142899 non-null  int64
 6   estado_civil            142899 non-null  int64
 7   nivel_educativo         142899 non-null  int64
 8   reconocimiento_etnico   142899 non-null  int64
 9   diversidad_sexual       142899 non-null  int64
 10  extranjero              142899 non-null  int64
 11  condicion_exepcional    142899 non-null  object
 12  persona_id_persona      142899 non-null  int64
 13  delito_id_delito        142899 non-null  int64
 14  estado_ingreso          142899 non-null  int64
 15  id_registro             142899 non-null  int64
 16  fecha_captura           142899 non-null  object
 17  fecha_ingreso           142899 non-null  object
 18  establecimiento         142899 non-null  int64
 19  tentativa               142899 non-null  int64
 20  agravado                142899 non-null  int64
 21  calificado              142899 non-null  int64
 22  fecha_salida            96345 non-null   object
 23  edad                    142899 non-null  int64
 24  municipio_id_municipio  142899 non-null  int64
 25  actividades_estudio     142899 non-null  int64
 26  actividades_trabajo     142899 non-null  int64
 27  actividades_enseñanza   142899 non-null  int64
 28  hijos_menores           142899 non-null  int64
 29  condicion_excepcional   142899 non-null  object
 30  estado_id_estado        142899 non-null  int64
 31  situacion_juridica      142899 non-null  int64
 32  madre_gestante          142899 non-null  int64
 33  madre_lactante          142899 non-null  int64
 34  discapacidad            142899 non-null  int64
 35  adulto_mayor            142899 non-null  int64
dtypes: int64(30), object(6)
memory usage: 39.2+ MB

### One-Hot Encoding

#### Evaluating Real number of intern with its unique booking date

In [24]:
df.groupby(['internoen','fecha_ingreso'])[['delito_id_delito']].count()

                                                        delito_id_delito
internoen                                fecha_ingreso
000334541B6B3305CE91761942D7B381248777EA 2018-08-06                    1
000357E4F19E3722BA43488F69A7D7DECFC620C4 2019-09-25                    2
000393AD7FE65FBBE53A61B0EAA1FB9A62F71450 2013-05-17                    2
0003BE212427DF2E9CCB2449B6012EF915B3FAE3 2014-10-24                    1
00043EB254F6E5EFCE77A8C20BC709B63A4BE443 2018-08-23                    1
...                                                                  ...
FFFC9F1A5227DDD6F78179576170997CAAB63AD7 2016-04-14                    1
FFFD204514A5DF9EE2F1E36CDBF16F0B79C45590 2015-12-24                    1
FFFE667F85CF452DB70B955609103CB72ECA3EEB 2020-01-14                    1
FFFF73D0B7088A0EF0A4B7F3CC26F8CF672C6EC1 2016-04-05                    1
FFFFB0916FD16C7AF652FF211662005C40F70E33 2016-02-05                    3

[103290 rows x 1 columns]

#### Calculating again delito pareto

In [29]:
counts = df['delito_id_delito'].value_counts().to_frame()
counts['%'] = (counts['delito_id_delito'] / counts['delito_id_delito'].sum())*100
counts['cum_%'] = (counts['delito_id_delito'].cumsum() / counts['delito_id_delito'].sum())*100
counts

     delito_id_delito          %       cum_%
145             53145  37.190603   37.190603
232             23923  16.741195   53.931798
105             16816  11.767752   65.699550
42               9864   6.902777   72.602328
141              8897   6.226076   78.828403
102              2832   1.981819   80.810223
109              2229   1.559843   82.370066
262              2169   1.517855   83.887921
172              2105   1.473068   85.360989
103              1798   1.258231   86.619221
207              1602   1.121072   87.740292
152              1439   1.007005   88.747297
212              1041   0.728487   89.475784
138              1000   0.699795   90.175579
21                958   0.670404   90.845982
14                712   0.498254   91.344236
11                676   0.473061   91.817298
238               613   0.428974   92.246272
96                607   0.424776   92.671047
80                562   0.393285   93.064332
118               531   0.371591   93.435923
261               505   0.353396   93.789320
211               449   0.314208   94.103528
237               432   0.302311   94.405839
113               382   0.267322   94.673161
77                372   0.260324   94.933484
108               370   0.258924   95.192409
40                353   0.247028   95.439436
206               346   0.242129   95.681565
228               321   0.224634   95.906199
137               283   0.198042   96.104241
230               262   0.183346   96.287588
245               238   0.166551   96.454139
18                224   0.156754   96.610893
147               185   0.129462   96.740355
58                174   0.121764   96.862119
115               169   0.118265   96.980385
191               163   0.114067   97.094451
107               139   0.097271   97.191723
31                136   0.095172   97.286895
121               124   0.086775   97.373670
129               121   0.084675   97.458345
74                116   0.081176   97.539521
12                115   0.080476   97.619997
222               115   0.080476   97.700474
183               112   0.078377   97.778851
167               110   0.076977   97.855828
126                97   0.067880   97.923708
132                96   0.067180   97.990889
116                95   0.066481   98.057369
143                92   0.064381   98.121750
254                91   0.063681   98.185432
114                91   0.063681   98.249113
44                 83   0.058083   98.307196
48                 73   0.051085   98.358281
154                72   0.050385   98.408666
56                 71   0.049685   98.458352
7                  71   0.049685   98.508037
225                69   0.048286   98.556323
43                 68   0.047586   98.603909
28                 64   0.044787   98.648696
55                 64   0.044787   98.693483
86                 64   0.044787   98.738270
151                62   0.043387   98.781657
241                61   0.042687   98.824344
144                55   0.038489   98.862833
123                54   0.037789   98.900622
142                48   0.033590   98.934212
208                48   0.033590   98.967802
146                41   0.028692   98.996494
170                41   0.028692   99.025186
13                 41   0.028692   99.053877
17                 39   0.027292   99.081169
173                38   0.026592   99.107761
84                 38   0.026592   99.134354
246                37   0.025892   99.160246
214                37   0.025892   99.186138
200                33   0.023093   99.209232
41                 33   0.023093   99.232325
93                 31   0.021694   99.254019
67                 31   0.021694   99.275712
125                31   0.021694   99.297406
134                27   0.018894   99.316300
247                24   0.016795   99.333095
81                 23   0.016095   99.349191
62                 23   0.016095   99.365286
216                22   0.015395   99.380681
162                22   0.015395   99.396077
235                20   0.013996   99.410073
65                 20   0.013996   99.424069
256                20   0.013996   99.438065
36                 18   0.012596   99.450661
111                18   0.012596   99.463257
9                  18   0.012596   99.475854
153                18   0.012596   99.488450
50                 17   0.011897   99.500346
231                16   0.011197   99.511543
155                14   0.009797   99.521340
176                14   0.009797   99.531137
236                14   0.009797   99.540935
156                14   0.009797   99.550732
92                 14   0.009797   99.560529
201                14   0.009797   99.570326
158                13   0.009097   99.579423
187                13   0.009097   99.588521
198                12   0.008398   99.596918
70                 12   0.008398   99.605316
174                12   0.008398   99.613713
213                11   0.007698   99.621411
209                11   0.007698   99.629109
98                 11   0.007698   99.636806
49                 11   0.007698   99.644504
185                11   0.007698   99.652202
97                 11   0.007698   99.659900
23                 10   0.006998   99.666898
164                 9   0.006298   99.673196
150                 9   0.006298   99.679494
157                 9   0.006298   99.685792
64                  9   0.006298   99.692090
66                  8   0.005598   99.697689
75                  8   0.005598   99.703287
223                 8   0.005598   99.708885
179                 8   0.005598   99.714484
33                  8   0.005598   99.720082
177                 8   0.005598   99.725680
149                 8   0.005598   99.731279
112                 7   0.004899   99.736177
52                  7   0.004899   99.741076
61                  7   0.004899   99.745974
29                  7   0.004899   99.750873
242                 7   0.004899   99.755772
135                 7   0.004899   99.760670
193                 7   0.004899   99.765569
195                 7   0.004899   99.770467
79                  7   0.004899   99.775366
101                 7   0.004899   99.780264
258                 6   0.004199   99.784463
226                 6   0.004199   99.788662
205                 6   0.004199   99.792861
30                  6   0.004199   99.797059
10                  6   0.004199   99.801258
91                  6   0.004199   99.805457
233                 6   0.004199   99.809656
71                  6   0.004199   99.813855
8                   5   0.003499   99.817354
46                  5   0.003499   99.820852
87                  5   0.003499   99.824351
94                  5   0.003499   99.827850
243                 5   0.003499   99.831349
22                  5   0.003499   99.834848
182                 5   0.003499   99.838347
106                 5   0.003499   99.841846
3                   5   0.003499   99.845345
197                 5   0.003499   99.848844
20                  5   0.003499   99.852343
190                 5   0.003499   99.855842
244                 4   0.002799   99.858641
2                   4   0.002799   99.861441
252                 4   0.002799   99.864240
47                  4   0.002799   99.867039
161                 4   0.002799   99.869838
175                 4   0.002799   99.872637
27                  4   0.002799   99.875436
180                 4   0.002799   99.878236
181                 4   0.002799   99.881035
5                   4   0.002799   99.883834
133                 4   0.002799   99.886633
24                  4   0.002799   99.889432
189                 4   0.002799   99.892232
199                 4   0.002799   99.895031
89                  4   0.002799   99.897830
251                 4   0.002799   99.900629
165                 3   0.002099   99.902729
38                  3   0.002099   99.904828
253                 3   0.002099   99.906927
85                  3   0.002099   99.909027
169                 3   0.002099   99.911126
130                 3   0.002099   99.913225
171                 3   0.002099   99.915325
260                 3   0.002099   99.917424
100                 3   0.002099   99.919524
99                  3   0.002099   99.921623
202                 3   0.002099   99.923722
140                 3   0.002099   99.925822
59                  3   0.002099   99.927921
257                 2   0.001400   99.929321
25                  2   0.001400   99.930720
148                 2   0.001400   99.932120
15                  2   0.001400   99.933519
128                 2   0.001400   99.934919
82                  2   0.001400   99.936319
57                  2   0.001400   99.937718
217                 2   0.001400   99.939118
220                 2   0.001400   99.940517
83                  2   0.001400   99.941917
210                 2   0.001400   99.943317
221                 2   0.001400   99.944716
73                  2   0.001400   99.946116
72                  2   0.001400   99.947515
69                  2   0.001400   99.948915
194                 2   0.001400   99.950315
90                  2   0.001400   99.951714
60                  2   0.001400   99.953114
117                 2   0.001400   99.954513
127                 2   0.001400   99.955913
39                  2   0.001400   99.957313
249                 2   0.001400   99.958712
53                  2   0.001400   99.960112
178                 2   0.001400   99.961511
122                 2   0.001400   99.962911
37                  2   0.001400   99.964310
124                 1   0.000700   99.965010
219                 1   0.000700   99.965710
1                   1   0.000700   99.966410
250                 1   0.000700   99.967110
136                 1   0.000700   99.967809
95                  1   0.000700   99.968509
224                 1   0.000700   99.969209
227                 1   0.000700   99.969909
229                 1   0.000700   99.970609
259                 1   0.000700   99.971308
4                   1   0.000700   99.972008
248                 1   0.000700   99.972708
104                 1   0.000700   99.973408
6                   1   0.000700   99.974108
234                 1   0.000700   99.974807
120                 1   0.000700   99.975507
110                 1   0.000700   99.976207
239                 1   0.000700   99.976907
240                 1   0.000700   99.977607
119                 1   0.000700   99.978306
131                 1   0.000700   99.979006
218                 1   0.000700   99.979706
160                 1   0.000700   99.980406
139                 1   0.000700   99.981106
88                  1   0.000700   99.981805
159                 1   0.000700   99.982505
34                  1   0.000700   99.983205
35                  1   0.000700   99.983905
163                 1   0.000700   99.984605
166                 1   0.000700   99.985304
168                 1   0.000700   99.986004
45                  1   0.000700   99.986704
51                  1   0.000700   99.987404
26                  1   0.000700   99.988103
54                  1   0.000700   99.988803
184                 1   0.000700   99.989503
186                 1   0.000700   99.990203
188                 1   0.000700   99.990903
63                  1   0.000700   99.991602
192                 1   0.000700   99.992302
68                  1   0.000700   99.993002
196                 1   0.000700   99.993702
19                  1   0.000700   99.994402
203                 1   0.000700   99.995101
76                  1   0.000700   99.995801
16                  1   0.000700   99.996501
204                 1   0.000700   99.997201
78                  1   0.000700   99.997901
32                  1   0.000700   99.998600
215                 1   0.000700   99.999300
255                 1   0.000700  100.000000

#### Converting the no pareto delitos, into an united delito

In [34]:
df.loc[df[~df['delito_id_delito'].isin(counts.index[:10].values)].index, 'delito_id_delito'] = 'other'

#### One-hot encoding for delito, tentatiev, agravado and calificado

In [70]:
one_hot = pd.concat([df[['internoen','fecha_ingreso']],
                     pd.get_dummies(df.delito_id_delito, prefix='delito_id_delito'),
                     pd.get_dummies(df.tentativa, prefix='tentativa'),
                     pd.get_dummies(df.agravado, prefix='agravado'),
                     pd.get_dummies(df.calificado, prefix='calificado')],
                     axis = 1)
one_hot = one_hot.groupby(['internoen','fecha_ingreso']).sum().reset_index()
one_hot

,internoen,fecha_ingreso,delito_id_delito_42,delito_id_delito_102,delito_id_delito_103,delito_id_delito_105,delito_id_delito_109,delito_id_delito_141,delito_id_delito_145,delito_id_delito_172,delito_id_delito_232,delito_id_delito_262,delito_id_delito_other,tentativa_1,tentativa_2,agravado_1,agravado_2,calificado_1,calificado_2
0,000334541B6B3305CE91761942D7B381248777EA,2018-08-06,0,0,0,0,0,0,0,0,1,0,0,1,0,1,0,1,0
1,000357E4F19E3722BA43488F69A7D7DECFC620C4,2019-09-25,1,0,0,0,0,0,1,0,0,0,0,2,0,1,1,1,1
2,000393AD7FE65FBBE53A61B0EAA1FB9A62F71450,2013-05-17,0,0,0,1,0,0,1,0,0,0,0,2,0,1,1,1,1
3,0003BE212427DF2E9CCB2449B6012EF915B3FAE3,2014-10-24,0,0,0,0,0,0,0,0,1,0,0,1,0,1,0,1,0
4,00043EB254F6E5EFCE77A8C20BC709B63A4BE443,2018-08-23,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103285,FFFC9F1A5227DDD6F78179576170997CAAB63AD7,2016-04-14,0,0,0,0,0,0,0,0,1,0,0,1,0,1,0,1,0
103286,FFFD204514A5DF9EE2F1E36CDBF16F0B79C45590,2015-12-24,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,1,0
103287,FFFE667F85CF452DB70B955609103CB72ECA3EEB,2020-01-14,0,0,0,1,0,0,0,0,0,0,0,1,0,1,0,1,0
103288,FFFF73D0B7088A0EF0A4B7F3CC26F8CF672C6EC1,2016-04-05,0,0,0,0,0,0,1,0,0,0,0,1,0,1,0,0,1
103289,FFFFB0916FD16C7AF652FF211662005C40F70E33,2016-02-05,0,0,0,1,0,2,0,0,0,0,0,2,1,2,1,3,0

#### Removing non important id columns, and columns realated with the hot encoding

In [79]:
col = df.columns.tolist()
col.remove('delito_id_delito')
col.remove('id_registro')
col.remove('id_persona')
col.remove('persona_id_persona')
col.remove('condicion_exepcional')
col.remove('tentativa')
col.remove('agravado')
col.remove('calificado')
col.remove('fecha_captura')

#### Droping duplicates and merging with the one_hot df

In [82]:
df_model = df[col].drop_duplicates().merge(one_hot, on = ['internoen','fecha_ingreso'])

In [83]:
df_model

,internoen,genero,nacionalidad,reincidente,anio_nacimiento,estado_civil,nivel_educativo,reconocimiento_etnico,diversidad_sexual,extranjero,estado_ingreso,fecha_ingreso,establecimiento,fecha_salida,edad,municipio_id_municipio,actividades_estudio,actividades_trabajo,actividades_enseñanza,hijos_menores,condicion_excepcional,estado_id_estado,situacion_juridica,madre_gestante,madre_lactante,discapacidad,adulto_mayor,delito_id_delito_42,delito_id_delito_102,delito_id_delito_103,delito_id_delito_105,delito_id_delito_109,delito_id_delito_141,delito_id_delito_145,delito_id_delito_172,delito_id_delito_232,delito_id_delito_262,delito_id_delito_other,tentativa_1,tentativa_2,agravado_1,agravado_2,calificado_1,calificado_2
0,0008649DEF36F510807D0AB58A84CF74E6083FBF,2,22,2,1979,7,2,5,1,1,4,2019-09-02,14,None,40,1,1,2,1,2,NINGUNO,1,1,3,3,1,1,1,0,0,0,0,0,1,0,0,0,0,2,0,1,1,2,0
1,0008649DEF36F510807D0AB58A84CF74E6083FBF,2,22,2,1979,7,2,5,1,1,2,2016-01-29,16,2017-02-02,40,1,1,2,1,2,NINGUNO,2,1,3,3,1,1,1,0,0,0,0,0,1,0,0,0,0,2,0,2,0,2,0
2,0016C0F299261311C9AD0D08788FDC0B35AF1D34,2,22,2,1984,7,5,5,1,1,4,2017-12-11,133,None,36,1,1,2,1,2,NINGUNO,1,1,3,3,1,1,0,0,0,0,0,0,0,0,0,1,0,1,0,1,0,1,0
3,001FEE5A33538FF7A1230A92CE34D5ADDEFCB31F,2,22,2,1983,3,2,5,1,1,4,2011-02-02,131,2012-05-23,36,1,2,2,1,2,NINGUNO,2,1,3,3,1,1,0,0,0,0,0,0,0,0,1,0,0,1,0,1,0,1,0
4,00211F83BE5A06272B94EA85087548FA78D4142B,2,22,2,1963,3,2,5,1,1,4,2011-07-14,88,2013-08-20,56,1,2,1,1,2,NINGUNO,2,1,3,3,1,1,0,0,0,1,0,0,1,0,0,0,0,2,0,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103285,FFF37A09854265D8FDA4A47D933B1E980A310CD3,2,22,2,1990,7,3,5,1,1,4,2018-05-09,31,None,29,1,2,1,1,1,NINGUNO,1,1,3,3,1,1,0,0,0,0,0,0,0,0,1,0,0,1,0,1,0,1,0
103286,FFF4BFD72BB34166BB4792F33635E074D9208D91,2,22,2,1985,6,4,5,1,1,4,2016-12-09,112,None,35,1,1,2,1,2,NINGUNO,1,1,3,3,1,1,1,0,0,0,0,0,0,0,1,0,1,3,0,3,0,3,0
103287,FFF5368EAC547E0EC82267C6B4A36E125BB23391,1,22,2,1958,1,4,5,1,1,6,2019-07-08,81,None,61,1,1,2,1,2,NINGUNO,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,1,1,0,1,0,1,0
103288,FFF7ADD27607233E4A4D1BCF0689EEE1812E1727,2,22,2,1996,6,2,5,1,1,4,2017-07-12,13,None,23,1,2,1,1,2,NINGUNO,1,1,3,3,1,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,1
103289,FFF9F0A1B5F522FF4B29102FEDAE087EC6380416,2,22,2,1962,3,9,5,1,1,5,2016-10-01,113,2018-01-24,58,1,2,2,1,2,NINGUNO,2,1,3,3,1,1,0,0,0,0,0,0,0,0,2,0,0,2,0,2,0,2,0

#### Evaluating results

In [80]:
df_model.groupby(['internoen','fecha_ingreso'])[['anio_nacimiento']].count().sort_values(by = ['anio_nacimiento'], ascending = False)

                                                        anio_nacimiento
internoen                                fecha_ingreso
000334541B6B3305CE91761942D7B381248777EA 2018-08-06                   1
AB3F8275473BBD8AF97B5139C9455738904B584D 2014-08-25                   1
AB4486AC0515DDEE9F06D1BB1F59E1A6020D6B2E 2012-06-12                   1
AB43D0F4513E1D28531433CD9D1EDFE08409C0B7 2020-05-13                   1
AB4386380EC3F3385404C180E5121DD9D88E3D5D 2019-12-05                   1
...                                                                 ...
55C19F319053D12E41085E3FF4F28FB7D3005EC6 2011-10-24                   1
55C1042A7931666EAC8AD3BC335A79F1F3D2B215 2012-07-23                   1
55C038019C4B6BE5941F785C7ED7CC85BF165B29 2018-01-17                   1
                                         2017-04-06                   1
FFFFB0916FD16C7AF652FF211662005C40F70E33 2016-02-05                   1

[103290 rows x 1 columns]

In [78]:
df[col][df[col]['internoen'] == '09E4B0900986C773B6820A305E5BB6438327E343']

,internoen,genero,nacionalidad,reincidente,anio_nacimiento,estado_civil,nivel_educativo,reconocimiento_etnico,diversidad_sexual,extranjero,estado_ingreso,fecha_captura,fecha_ingreso,establecimiento,fecha_salida,edad,municipio_id_municipio,actividades_estudio,actividades_trabajo,actividades_enseñanza,hijos_menores,condicion_excepcional,estado_id_estado,situacion_juridica,madre_gestante,madre_lactante,discapacidad,adulto_mayor
1368,09E4B0900986C773B6820A305E5BB6438327E343,2,22,2,1988,3,5,5,1,1,4,2020-02-24,2020-03-05,13,2020-03-16,31,1,2,2,1,1,NINGUNO,2,1,3,3,1,1
1369,09E4B0900986C773B6820A305E5BB6438327E343,2,22,2,1988,3,5,5,1,1,4,2017-05-17,2015-05-16,1,2017-09-22,31,1,2,2,1,1,NINGUNO,2,1,3,3,1,1
1370,09E4B0900986C773B6820A305E5BB6438327E343,2,22,2,1988,3,5,5,1,1,4,2017-05-26,2015-05-16,1,2017-09-22,31,1,2,2,1,1,NINGUNO,2,1,3,3,1,1
1371,09E4B0900986C773B6820A305E5BB6438327E343,2,22,2,1988,3,5,5,1,1,4,2017-03-03,2015-05-16,1,2017-09-22,31,1,2,2,1,1,NINGUNO,2,1,3,3,1,1
1372,09E4B0900986C773B6820A305E5BB6438327E343,2,22,2,1988,3,5,5,1,1,4,2014-01-28,2015-05-16,1,2017-09-22,31,1,2,2,1,1,NINGUNO,2,1,3,3,1,1
1373,09E4B0900986C773B6820A305E5BB6438327E343,2,22,2,1988,3,5,5,1,1,4,2016-05-16,2015-05-16,1,2017-09-22,31,1,2,2,1,1,NINGUNO,2,1,3,3,1,1
1374,09E4B0900986C773B6820A305E5BB6438327E343,2,22,2,1988,3,5,5,1,1,4,2017-01-17,2015-05-16,1,2017-09-22,31,1,2,2,1,1,NINGUNO,2,1,3,3,1,1
1375,09E4B0900986C773B6820A305E5BB6438327E343,2,22,2,1988,3,5,5,1,1,4,2015-12-03,2015-05-16,1,2017-09-22,31,1,2,2,1,1,NINGUNO,2,1,3,3,1,1