In [1]:
import pandas as pd
import numpy as np
import re
import unidecode

In [123]:
pd.set_option('display.max_columns', 100)

## Loading Data

### File ReincidenciaPospenadosNal26Mayo2020Rev.csv

In [2]:
data = pd.read_csv('data/ReincidenciaPospenadosNal26Mayo2020Rev.csv', sep = ';', encoding='latin-1')
data.columns = data.iloc[4].values
data = data[5:]
data

/opt/conda/envs/nlp/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (5,8) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,INTERNOEN,SITUACION_JURIDICA,DELITO,FECHA_CAPTURA,FECHA_INGRESO,AÑO_INGRESO,MES_INGRESO,ESTADO_INGRESO,EDAD,GENERO,REINCIDENTE,ESTABLECIMIENTO,REGIONAL
5,A052606FB2E230AEE364AC216F38510DAA36F1A5,CO,FABRICACION TRAFICO Y PORTE DE ARMAS DE FUEGO ...,30/12/2009,1/01/2010,2010,Ene,Baja,38,MASCULINO,SI,EPAMSCAS POPAYAN (ERE),OCCIDENTE
6,A052606FB2E230AEE364AC216F38510DAA36F1A5,CO,UTILIZACION ILEGAL DE UNIFORMES E INSIGNIAS,30/12/2009,1/01/2010,2010,Ene,Baja,38,MASCULINO,SI,EPAMSCAS POPAYAN (ERE),OCCIDENTE
7,A052606FB2E230AEE364AC216F38510DAA36F1A5,CO,HURTO,30/12/2009,1/01/2010,2010,Ene,Baja,38,MASCULINO,SI,EPAMSCAS POPAYAN (ERE),OCCIDENTE
8,C80AD89EE6C54E9EE17F2455C62B454EC6F541BA,CO,HURTO,1/01/2010,1/01/2010,2010,Ene,Baja,28,MASCULINO,SI,EPMSC PEREIRA (ERE),VIEJO CALDAS
9,309BFEF86B45C0D8C6E95E4C28A44EDBE5266003,CO,FABRICACION TRAFICO Y PORTE DE ARMAS DE FUEGO ...,30/12/2009,1/01/2010,2010,Ene,Baja,48,MASCULINO,SI,EPMSC MEDELLIN,NOROESTE
...,...,...,...,...,...,...,...,...,...,...,...,...,...
140511,D3E974BD945B13B2DF3CB550482D7836724FD8DB,CO,TRAFICO FABRICACION O PORTE DE ESTUPEFACIENTES,28/11/2019,26/05/2020,2020,May,Intramuros,25,MASCULINO,SI,COMPLEJO IBAGUE - PICALEÑA,VIEJO CALDAS
140512,69566DF17B66B0C6542048D4806BA1C0BA7D0F4A,CO,HOMICIDIO,24/10/2015,26/05/2020,2020,May,Intramuros,27,MASCULINO,SI,COMPLEJO IBAGUE - PICALEÑA,VIEJO CALDAS
140513,EBE4A4F2BC1BF886F62393B56E6C0323C130E8A1,CO,ACCESO CARNAL ABUSIVO CON MENOR DE CATORCE AÑOS,22/09/2017,26/05/2020,2020,May,Intramuros,30,MASCULINO,SI,COMPLEJO IBAGUE - PICALEÑA,VIEJO CALDAS
140514,EBE4A4F2BC1BF886F62393B56E6C0323C130E8A1,CO,ACCESO CARNAL VIOLENTO,22/09/2017,26/05/2020,2020,May,Intramuros,30,MASCULINO,SI,COMPLEJO IBAGUE - PICALEÑA,VIEJO CALDAS
140515,59204009D6A7621E09832058FE7F2577D04D5EEC,CO,FABRICACION TRAFICO Y PORTE DE ARMAS DE FUEGO ...,2/10/2018,26/05/2020,2020,May,Intramuros,26,MASCULINO,SI,COMPLEJO IBAGUE - PICALEÑA,VIEJO CALDAS

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140511 entries, 5 to 140515
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   INTERNOEN           140511 non-null  object
 1   SITUACION_JURIDICA  140511 non-null  object
 2   DELITO              140511 non-null  object
 3   FECHA_CAPTURA       140511 non-null  object
 4   FECHA_INGRESO       140511 non-null  object
 5   AÑO_INGRESO         140511 non-null  object
 6   MES_INGRESO         140511 non-null  object
 7   ESTADO_INGRESO      140511 non-null  object
 8   EDAD                140511 non-null  object
 9   GENERO              140511 non-null  object
 10  REINCIDENTE         140511 non-null  object
 11  ESTABLECIMIENTO     140511 non-null  object
 12  REGIONAL            140511 non-null  object
dtypes: object(13)
memory usage: 13.9+ MB

### File ReincidenciaPospenadosNal2010-31Mayo2020Rev_con variables demograficas.xlsx

In [6]:
data = pd.read_excel('data/ReincidenciaPospenadosNal2010-31Mayo2020Rev_con variables demograficas.xlsx')
data.columns = data.iloc[5].values
data = data[6:]
data

,INTERNOEN,DELITO,TENTATIVA,AGRAVADO,CALIFICADO,FECHA_INGRESO,FECHA_SALIDA,FECHA_CAPTURA,SITUACION_JURIDICA,ANO_NACIMIENTO,...,ACTIVIDADES_ENSEÑANZA,NIVEL_EDUCATIVO,HIJOS_MENORES,CONDIC_EXPECIONAL,CODIGO_ESTABLECIMIENTO,ESTABLECIMIENTO,DEPTO_ESTABLECIMIENTO,MPIO_ESTABLECIMIENTO,REGIONAL,ESTADO
6,5496C737C624136DB406CFC6744C684C070A3CD8,FABRICACION TRAFICO Y PORTE DE ARMAS DE FUEGO ...,N,N,N,01/01/10,12/05/11,30/12/09,CO,1972,...,NO,CICLO III,SI,NaN,502,EPMSC MEDELLIN,ANTIOQUIA,MEDELLIN,NOROESTE,Baja
7,1097561F306939C26DB4AC60377063DA7E2B079F,TRAFICO FABRICACION O PORTE DE ESTUPEFACIENTES,N,N,N,01/01/10,05/12/11,30/12/09,CO,1962,...,NO,CICLO I,SI,NaN,502,EPMSC MEDELLIN,ANTIOQUIA,MEDELLIN,NOROESTE,Baja
8,CB7033A707ADE673139F8A17CAD26AD54696C135,FABRICACION TRAFICO Y PORTE DE ARMAS DE FUEGO ...,N,N,N,01/01/10,06/08/13,30/12/09,CO,1982,...,NO,CICLO I,SI,NaN,235,EPAMSCAS POPAYAN (ERE),CAUCA,POPAYAN,OCCIDENTE,Baja
9,CB7033A707ADE673139F8A17CAD26AD54696C135,HURTO,N,S,S,01/01/10,06/08/13,30/12/09,CO,1982,...,NO,CICLO I,SI,NaN,235,EPAMSCAS POPAYAN (ERE),CAUCA,POPAYAN,OCCIDENTE,Baja
10,CB7033A707ADE673139F8A17CAD26AD54696C135,UTILIZACION ILEGAL DE UNIFORMES E INSIGNIAS,N,N,N,01/01/10,06/08/13,30/12/09,CO,1982,...,NO,CICLO I,SI,NaN,235,EPAMSCAS POPAYAN (ERE),CAUCA,POPAYAN,OCCIDENTE,Baja
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142500,A112E9DC935B0D64DC75852EB0A30D65291F1B64,FABRICACION TRAFICO Y PORTE DE ARMAS DE FUEGO ...,N,N,N,30/05/20,NaN,23/03/03,CO,1978,...,NO,CICLO II,1,NaN,227,EPMSC BUGA,VALLE DEL CAUCA,BUGA,OCCIDENTE,Activo
142501,A112E9DC935B0D64DC75852EB0A30D65291F1B64,HOMICIDIO,N,S,N,30/05/20,NaN,23/03/03,CO,1978,...,NO,CICLO II,1,NaN,227,EPMSC BUGA,VALLE DEL CAUCA,BUGA,OCCIDENTE,Activo
142502,A112E9DC935B0D64DC75852EB0A30D65291F1B64,HOMICIDIO,S,S,N,30/05/20,NaN,23/03/03,CO,1978,...,NO,CICLO II,1,NaN,227,EPMSC BUGA,VALLE DEL CAUCA,BUGA,OCCIDENTE,Activo
142503,A112E9DC935B0D64DC75852EB0A30D65291F1B64,HURTO,N,S,N,30/05/20,NaN,23/03/03,CO,1978,...,NO,CICLO II,1,NaN,227,EPMSC BUGA,VALLE DEL CAUCA,BUGA,OCCIDENTE,Activo
142504,73CC98628509EC80173897BB76362B1E42658BB5,TRAFICO FABRICACION O PORTE DE ESTUPEFACIENTES,N,N,N,30/05/20,NaN,19/06/19,CO,1989,...,NO,CICLO III,0,NaN,209,RM POPAYAN,CAUCA,POPAYAN,OCCIDENTE,Activo

### File SHDI Colombia 4.0.xlsx

In [25]:
SHDI = pd.read_excel('data/SHDI Colombia 4.0.xlsx')
#data2.columns = data2.iloc[5].values
#data2 = data2[6:]
SHDI

,iso_code,country,year,GDLCODE,level,region,continent,shdi,healthindex,incindex,edindex,lifexp,gnic,esch,msch,pop
0,COL,Colombia,1990,COLr101,Subnat,Antioquia (incl Medellin),America,0.603,0.785,0.675,0.413,71.02,8.719078,8.63,5.20,4.092471
1,COL,Colombia,1990,COLr102,Subnat,Atlantico (incl Barranquilla),America,0.631,0.785,0.660,0.484,71.02,7.910401,9.89,6.28,2.315525
2,COL,Colombia,1990,COLr103,Subnat,Bogota D.C.,America,0.673,0.778,0.709,0.552,70.59,10.950703,10.54,7.78,4.715131
3,COL,Colombia,1990,COLr104,Subnat,Bolivar (Sur and Norte),America,0.587,0.724,0.623,0.449,67.06,6.169956,9.39,5.65,1.122177
4,COL,Colombia,1990,COLr105,Subnat,Boyaca,America,0.567,0.804,0.603,0.375,72.24,5.404022,8.70,4.00,1.556152
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
981,COL,Colombia,2018,COLr130,Subnat,Guainja,America,0.664,0.884,0.582,0.569,77.48,4.700667,13.20,6.06,0.042698
982,COL,Colombia,2018,COLr131,Subnat,Guaviare,America,0.749,0.883,0.710,0.671,77.38,10.972033,14.99,7.65,0.067026
983,COL,Colombia,2018,COLr132,Subnat,Vaupis,America,0.635,0.797,0.527,0.611,71.82,3.283906,14.18,6.50,0.045180
984,COL,Colombia,2018,COLr133,Subnat,Vichada,America,0.748,0.886,0.722,0.653,77.58,11.945034,13.75,8.13,0.032272
985,COL,Colombia,2018,COLt,National,Total,America,0.761,0.879,0.734,0.683,77.11,12.895595,14.60,8.33,49.648685

### File SHDI-4.0-Vardescription.xlsx

In [27]:
SHDI_vardesc = pd.read_excel('data/SHDI-4.0-Vardescription.xlsx')
SHDI_vardesc

,Variable,Category,Dtype,Decimals,RankOrder,Label,Shortdescr,Longdescr
0,iso_code,System,Str,NaN,NaN,NaN,ISO country code 3 digit,ISO country code 3 digit
1,country,System,Str,NaN,NaN,NaN,Country name,Country name
2,year,System,Int,0.0,NaN,NaN,Year of data collection,Year of data collection
3,GDLCODE,System,Str,NaN,NaN,NaN,Region code Global Data Lab,"Iso-code, level (t=total), regional division (..."
4,level,System,Str,NaN,NaN,NaN,Aggregation level,National or sub-national
5,region,System,Str,NaN,NaN,NaN,Sub-national region name,Name of sub-national region
6,continent,System,Flt,NaN,NaN,NaN,Continent,"Categories: Africa, America, Asia/Pacific, Europe"
7,shdi,Indices,Pos,3.0,A,Sub-national HDI,Sub-national HDI,NaN
8,healthindex,Indices,Pos,3.0,A,Health index,Health index,NaN
9,incindex,Indices,Pos,3.0,A,Income index,Income index,NaN
10,edindex,Indices,Pos,3.0,A,Educational index,Educational index,NaN
11,lifexp,Indicators,Pos,3.0,A,Life expectancy,Life expectancy,Life expectancy at birth
12,gnic,Indicators,Pos,3.0,A,GNI per capita in thousands of US$ (2011 PPP),GNI per capita in thousands of US$ (2011 PPP),Gross National Income per capita in thousands ...
13,esch,Indicators,Pos,2.0,A,Expected years schooling,Expected years schooling,Expected years schooling children aged 6
14,msch,Indicators,Pos,2.0,A,Mean years schooling,Mean years schooling,Mean years schooling population aged 25+
15,pop,Indicators,Pos,2.0,A,Population size in millions,Population size in millions,Population size in millions

## Cleaning Data

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142499 entries, 6 to 142504
Data columns (total 30 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   INTERNOEN               142499 non-null  object
 1   DELITO                  142499 non-null  object
 2   TENTATIVA               142499 non-null  object
 3   AGRAVADO                142499 non-null  object
 4   CALIFICADO              142499 non-null  object
 5   FECHA_INGRESO           142499 non-null  object
 6   FECHA_SALIDA            95815 non-null   object
 7   FECHA_CAPTURA           142499 non-null  object
 8   SITUACION_JURIDICA      142499 non-null  object
 9   ANO_NACIMIENTO          142499 non-null  object
 10  EDAD                    142499 non-null  object
 11  GENERO                  142499 non-null  object
 12  ESTADO_CIVIL            63007 non-null   object
 13  PAIS_INTERNO            139346 non-null  object
 14  DEPARTAMENTO            142492 non-null  object
 15  CIUDAD                  142499 non-null  object
 16  REINCIDENTE             142499 non-null  object
 17  ESTADO_INGRESO          142469 non-null  object
 18  ACTIVIDADES_TRABAJO     142499 non-null  object
 19  ACTIVIDADES_ESTUDIO     142499 non-null  object
 20  ACTIVIDADES_ENSEÑANZA   142499 non-null  object
 21  NIVEL_EDUCATIVO         142499 non-null  object
 22  HIJOS_MENORES           142499 non-null  object
 23  CONDIC_EXPECIONAL       13275 non-null   object
 24  CODIGO_ESTABLECIMIENTO  142499 non-null  object
 25  ESTABLECIMIENTO         142499 non-null  object
 26  DEPTO_ESTABLECIMIENTO   139811 non-null  object
 27  MPIO_ESTABLECIMIENTO    139811 non-null  object
 28  REGIONAL                142499 non-null  object
 29  ESTADO                  142499 non-null  object
dtypes: object(30)
memory usage: 32.6+ MB

In [10]:
vacios = data.isnull().sum().to_frame()
vacios.columns = ['num']
vacios['total'] = [len(data)]*len(vacios)
vacios['%'] = 100*(vacios['num'] / vacios['total'])
vacios

                           num   total          %
INTERNOEN                    0  142499   0.000000
DELITO                       0  142499   0.000000
TENTATIVA                    0  142499   0.000000
AGRAVADO                     0  142499   0.000000
CALIFICADO                   0  142499   0.000000
FECHA_INGRESO                0  142499   0.000000
FECHA_SALIDA             46684  142499  32.760932
FECHA_CAPTURA                0  142499   0.000000
SITUACION_JURIDICA           0  142499   0.000000
ANO_NACIMIENTO               0  142499   0.000000
EDAD                         0  142499   0.000000
GENERO                       0  142499   0.000000
ESTADO_CIVIL             79492  142499  55.784251
PAIS_INTERNO              3153  142499   2.212647
DEPARTAMENTO                 7  142499   0.004912
CIUDAD                       0  142499   0.000000
REINCIDENTE                  0  142499   0.000000
ESTADO_INGRESO              30  142499   0.021053
ACTIVIDADES_TRABAJO          0  142499   0.000000
ACTIVIDADES_ESTUDIO          0  142499   0.000000
ACTIVIDADES_ENSEÑANZA        0  142499   0.000000
NIVEL_EDUCATIVO              0  142499   0.000000
HIJOS_MENORES                0  142499   0.000000
CONDIC_EXPECIONAL       129224  142499  90.684145
CODIGO_ESTABLECIMIENTO       0  142499   0.000000
ESTABLECIMIENTO              0  142499   0.000000
DEPTO_ESTABLECIMIENTO     2688  142499   1.886329
MPIO_ESTABLECIMIENTO      2688  142499   1.886329
REGIONAL                     0  142499   0.000000
ESTADO                       0  142499   0.000000

### Delito

In [11]:
data['DELITO'].unique().shape

(259,)

In [12]:
data['DELITO'] = data['DELITO'].apply(lambda x: ' '.join(unidecode.unidecode(re.sub(r'[^\w]', ' ',str(x)).lower()).split()))
data['DELITO'] = data['DELITO'].astype('category')
data['DELITO'].unique().shape

(259,)

In [13]:
data['DELITO'].apply(lambda x: len(x.split())).describe()

count    142499.000000
mean          3.868343
std           3.681905
min           1.000000
25%           1.000000
50%           2.000000
75%           6.000000
max          20.000000
Name: DELITO, dtype: float64

In [14]:
data['DELITO'].value_counts().to_frame()

                                                    DELITO
hurto                                                53010
trafico fabricacion o porte de estupefacientes       23839
fabricacion trafico y porte de armas de fuego o...   16789
concierto para delinquir                              9822
homicidio                                             8867
...                                                    ...
violacion a las normas internas del resguardo n...       1
despojo en el campo de batalla                           1
irrespeto a cadaveres                                    1
intimidacion nota solo para jurisdiccion indigena        1
abandono del puesto                                      1

[259 rows x 1 columns]

### Tentativa

In [17]:
data['TENTATIVA'].unique().shape

(2,)

In [18]:
data['TENTATIVA'].value_counts().to_frame()

   TENTATIVA
N     132233
S      10266

In [19]:
data['TENTATIVA'] = data['TENTATIVA'].astype('category')

### Agravado

In [20]:
data['AGRAVADO'].unique().shape

(2,)

In [21]:
data['AGRAVADO'].value_counts().to_frame()

   AGRAVADO
N     95435
S     47064

In [22]:
data['AGRAVADO'] = data['AGRAVADO'].astype('category')

### Calificado

In [23]:
data['CALIFICADO'].unique().shape

(2,)

In [24]:
data['CALIFICADO'].value_counts().to_frame()

   CALIFICADO
N      101834
S       40665

In [25]:
data['CALIFICADO'] = data['CALIFICADO'].astype('category')

### Fecha Ingreso

In [26]:
data['FECHA_INGRESO'].unique().shape

(3774,)

In [27]:
data['FECHA_INGRESO'] = pd.to_datetime(data['FECHA_INGRESO'])

### Fecha Salida

In [29]:
data['FECHA_SALIDA'].unique().shape

(3638,)

In [30]:
data['FECHA_SALIDA'] = pd.to_datetime(data['FECHA_SALIDA'])

### Fecha Captura

In [31]:
data['FECHA_CAPTURA'].unique().shape

(5621,)

In [32]:
data['FECHA_CAPTURA'] = pd.to_datetime(data['FECHA_CAPTURA'])

### Situación Jurídica

In [33]:
data['SITUACION_JURIDICA'].unique().shape

(1,)

In [34]:
data['SITUACION_JURIDICA'].value_counts()

CO    142499
Name: SITUACION_JURIDICA, dtype: int64

In [35]:
data['SITUACION_JURIDICA'] = data['SITUACION_JURIDICA'].astype('category')

### Año nacimiento

In [36]:
data['ANO_NACIMIENTO'].unique().shape

(76,)

In [37]:
data['ANO_NACIMIENTO'].value_counts().to_frame()

      ANO_NACIMIENTO
1990            6822
1989            6733
1985            6654
1988            6636
1984            6630
...              ...
1930               4
1926               3
1927               3
1928               3
1925               1

[76 rows x 1 columns]

In [38]:
data['ANO_NACIMIENTO'] = data['ANO_NACIMIENTO'].astype(int)

### Edad

In [39]:
data['EDAD'].unique().shape

(76,)

In [40]:
data['EDAD'].value_counts().to_frame()

    EDAD
35  6832
30  6719
31  6706
29  6664
33  6590
..   ...
92     4
93     3
91     2
90     1
94     1

[76 rows x 1 columns]

In [41]:
data['EDAD'] = data['EDAD'].astype(int)

### Genero

In [42]:
data['GENERO'].unique().shape

(2,)

In [43]:
data['GENERO'].value_counts().to_frame()

           GENERO
MASCULINO  131119
FEMENINO    11380

In [44]:
data['GENERO'] = data['GENERO'].astype('category')

### Estado Civil

In [56]:
data['ESTADO_CIVIL'].unique().shape

(9,)

In [57]:
data['ESTADO_CIVIL'].value_counts().to_frame()

                ESTADO_CIVIL
UNION LIBRE            38054
SOLTERO(A)             21049
CASADO(A)               2840
SEPARADO(A)              762
VIUDO(A)                 237
DIVORCIADO(A)             42
PENDIENTE POR             22
RELIGIOSO(A)               1

In [58]:
data['ESTADO_CIVIL'] = data['ESTADO_CIVIL'].astype('category')

### Pais Interno

In [59]:
data['PAIS_INTERNO'].unique().shape

(26,)

In [60]:
data['PAIS_INTERNO'].value_counts().to_frame()

                           PAIS_INTERNO
republica de colombia            139124
nan                                3153
venezuela                           105
ecuador                              25
peru                                 16
espana                               11
brasil                               10
mexico                                9
estados unidos de america             8
cuba                                  5
holanda                               4
afganistan                            4
italia                                4
guatemala                             3
republica dominicana                  3
uruguay                               2
polonia                               2
costa rica                            2
argentina                             2
lituania                              1
panama                                1
china                                 1
canada                                1
alemania                              1
albania                               1
francia                               1

In [61]:
data['PAIS_INTERNO'] = data['PAIS_INTERNO'].apply(lambda x: ' '.join(unidecode.unidecode(re.sub(r'[^\w]', ' ',str(x)).lower()).split()))
data['PAIS_INTERNO'] = data['PAIS_INTERNO'].astype('category')
data['PAIS_INTERNO'].unique().shape

(26,)

### Departamento

In [62]:
data['DEPARTAMENTO'].unique().shape

(347,)

In [63]:
data['DEPARTAMENTO'] = data['DEPARTAMENTO'].apply(lambda x: ' '.join(unidecode.unidecode(re.sub(r'[^\w]', ' ',str(x)).lower()).split()))
data['DEPARTAMENTO'] = data['DEPARTAMENTO'].astype('category')
data['DEPARTAMENTO'].unique().shape

(347,)

In [64]:
data['DEPARTAMENTO'].value_counts().to_frame()

                         DEPARTAMENTO
antioquia                       21784
bogota distrito capital         19261
valle del cauca                 17946
santander                       10067
tolima                           6545
...                               ...
la paz santander                    1
la montanita caqueta                1
la mesa cundinamarca                1
la gloria cesar                     1
abejorral antioquia                 1

[347 rows x 1 columns]

### Ciudad

In [65]:
data['CIUDAD'].unique().shape

(1629,)

In [66]:
data['CIUDAD'].value_counts().to_frame()

                                                    CIUDAD
BOGOTA DISTRITO CAPITAL                              19195
MEDELLIN-ANTIOQUIA                                   11040
SANTIAGO DE CALI-VALLE DEL CAUCA                      9018
BUCARAMANGA-SANTANDER                                 5542
BARRANQUILLA-ATLANTICO                                3296
...                                                    ...
AGUACLARA-PALMIRA-VALLE DEL CAUCA                        1
DELICIAS-LEGUIZAMO-PUTUMAYO                              1
SANTANDERCITO-SAN ANTONIO DEL TEQUENDAMA-CUNDIN...       1
BUENOS AIRES-SAN LUIS-ANTIOQUIA                          1
LA JAGUA-GARZON-HUILA                                    1

[1629 rows x 1 columns]

In [67]:
data['CIUDAD'] = data['CIUDAD'].apply(lambda x: ' '.join(unidecode.unidecode(re.sub(r'[^\w]', ' ',str(x)).lower()).split()))
data['CIUDAD'] = data['CIUDAD'].astype('category')
data['CIUDAD'].unique().shape

(1629,)

In [68]:
data['CIUDAD'].value_counts().to_frame()

                                               CIUDAD
bogota distrito capital                         19195
medellin antioquia                              11040
santiago de cali valle del cauca                 9018
bucaramanga santander                            5542
barranquilla atlantico                           3296
...                                               ...
mosoco paez cauca                                   1
morindo central monteria cordoba                    1
morcote paya boyaca                                 1
monterrey guadalajara de buga valle del cauca       1
zulia maripi boyaca                                 1

[1629 rows x 1 columns]

### Reincidente

In [69]:
data['REINCIDENTE'].unique().shape

(1,)

In [70]:
data['REINCIDENTE'] = data['REINCIDENTE'].astype('category')

### Estado Ingreso

In [71]:
data['ESTADO_INGRESO'].unique().shape

(7,)

In [72]:
data['ESTADO_INGRESO'].value_counts().to_frame()

                        ESTADO_INGRESO
Intramuros                       86334
Prision Domiciliaria             36873
Detencion Domiciliaria           12097
Vigilancia Electronica            6863
Control Electronico                161
Espera Traslado                    141

In [73]:
data['ESTADO_INGRESO'] = data['ESTADO_INGRESO'].astype('category')

### Actividades Trabajo

In [74]:
data['ACTIVIDADES_TRABAJO'].unique().shape

(2,)

In [75]:
data['ACTIVIDADES_TRABAJO'].value_counts().to_frame()

    ACTIVIDADES_TRABAJO
SI                77321
NO                65178

In [76]:
data['ACTIVIDADES_TRABAJO'] = data['ACTIVIDADES_TRABAJO'].astype('category')

### Actividades Estudio

In [77]:
data['ACTIVIDADES_ESTUDIO'].unique().shape

(2,)

In [78]:
data['ACTIVIDADES_ESTUDIO'].value_counts().to_frame()

    ACTIVIDADES_ESTUDIO
SI                94432
NO                48067

In [79]:
data['ACTIVIDADES_ESTUDIO'] = data['ACTIVIDADES_ESTUDIO'].astype('category')

### Activades Enseñanza

In [80]:
data['ACTIVIDADES_ENSEÑANZA'].unique().shape

(2,)

In [81]:
data['ACTIVIDADES_ENSEÑANZA'].value_counts().to_frame()

    ACTIVIDADES_ENSEÑANZA
NO                 139900
SI                   2599

In [82]:
data['ACTIVIDADES_ENSEÑANZA'] = data['ACTIVIDADES_ENSEÑANZA'].astype('category')

### Nivel Educativo

In [83]:
data['NIVEL_EDUCATIVO'].unique().shape

(12,)

In [84]:
data['NIVEL_EDUCATIVO'].value_counts().to_frame()

                     NIVEL_EDUCATIVO
CICLO II                       54203
CICLO I                        28110
CICLO III                      27764
CICLO IV                       25037
ANALFABETA                      3713
PROFESIONAL                     1634
TECNICO                         1320
TECNOLOGICO                      461
ESPECIALIZACION                  143
TECNICO PROFESIONAL               61
POST GRADO                        33
MAGISTER                          20

In [85]:
data['NIVEL_EDUCATIVO'] = data['NIVEL_EDUCATIVO'].astype('category')

### Hijos Menores: Decide how to deal with this

In [86]:
data['HIJOS_MENORES'].unique().shape

(24,)

In [87]:
data['HIJOS_MENORES'].value_counts().to_frame()

    HIJOS_MENORES
SI          75116
NO          20354
0           16224
1           12251
2            9145
3            4912
4            2294
5            1059
6             561
7             294
8             129
9              53
10             41
11             25
12             13
13              8
14              5
16              4
17              4
24              2
21              2
19              1
20              1
23              1

### Condic Expecional: Decide How to deal with this

In [88]:
data['CONDIC_EXPECIONAL'].unique().shape

(54,)

In [89]:
data['CONDIC_EXPECIONAL'].value_counts().to_frame()

                                                    CONDIC_EXPECIONAL
AFRO COLOMBIANO                                                  5744
ADULTO MAYOR                                                     2356
CON DISCAPACIDAD                                                 1842
INDIGENA                                                         1065
LESBIANA                                                          443
BISEXUAL                                                          397
GAYS                                                              252
MADRE GESTANTE                                                    249
EXTRANJEROS                                                       174
TRANSEXUAL                                                        151
AFRO COLOMBIANO -CON DISCAPACIDAD                                  90
ADULTO MAYOR -AFRO COLOMBIANO                                      74
ROM                                                                62
ADULTO MAYOR -CON DISCAPACIDAD                                     57
MADRE LACTANTE                                                     35
ADULTO MAYOR -INDIGENA                                             33
GAYS -TRANSEXUAL                                                   28
RAIZALES                                                           26
BISEXUAL -LESBIANA                                                 18
AFRO COLOMBIANO -BISEXUAL                                          15
AFRO COLOMBIANO -INDIGENA                                          15
CON DISCAPACIDAD -LESBIANA                                         12
CON DISCAPACIDAD -INDIGENA                                         11
AFRO COLOMBIANO -GAYS                                              10
AFRO COLOMBIANO -EXTRANJEROS                                       10
INTERSEXUAL                                                         9
AFRO COLOMBIANO -LESBIANA                                           9
ADULTO MAYOR -LESBIANA                                              9
AFRO COLOMBIANO -RAIZALES                                           8
BISEXUAL -GAYS                                                      7
LESBIANA -TRANSEXUAL                                                6
CON DISCAPACIDAD -EXTRANJEROS                                       6
BISEXUAL -CON DISCAPACIDAD                                          6
ADULTO MAYOR -EXTRANJEROS                                           5
AFRO COLOMBIANO -MADRE GESTANTE                                     5
CON DISCAPACIDAD -GAYS                                              5
ADULTO MAYOR -BISEXUAL                                              4
GAYS -INDIGENA                                                      3
CON DISCAPACIDAD -TRANSEXUAL                                        3
BISEXUAL -TRANSEXUAL                                                2
BISEXUAL -INDIGENA                                                  2
MADRE GESTANTE -MADRE LACTANTE                                      2
ADULTO MAYOR -LESBIANA -TRANSEXUAL                                  2
AFRO COLOMBIANO -TRANSEXUAL                                         2
GAYS -LESBIANA                                                      2
INDIGENA -LESBIANA                                                  2
LESBIANA -RAIZALES                                                  1
AFRO COLOMBIANO -EXTRANJEROS -LESBIANA -TRANSEXUAL                  1
AFRO COLOMBIANO -BISEXUAL -TRANSEXUAL                               1
EXTRANJEROS -INDIGENA                                               1
CON DISCAPACIDAD -ROM                                               1
ADULTO MAYOR -CON DISCAPACIDAD -MADRE GESTANTE                      1
ADULTO MAYOR -CON DISCAPACIDAD -INDIGENA                            1

In [90]:
data['CONDIC_EXPECIONAL'] = data['CONDIC_EXPECIONAL'].apply(lambda x: ' '.join(unidecode.unidecode(re.sub(r'[^\w]', ' ',str(x)).lower()).split()))
data['CONDIC_EXPECIONAL'] = data['CONDIC_EXPECIONAL'].astype('category')
data['CONDIC_EXPECIONAL'].unique().shape

(54,)

### Código establecimiento

In [91]:
data['CODIGO_ESTABLECIMIENTO'].unique().shape

(160,)

In [92]:
data['CODIGO_ESTABLECIMIENTO'].value_counts().to_frame()

     CODIGO_ESTABLECIMIENTO
113                   11479
502                    7606
226                    6304
410                    5311
114                    5013
..                      ...
534                      10
529                       3
234                       1
155                       1
605                       1

[160 rows x 1 columns]

In [93]:
data['CONDIC_EXPECIONAL'] = data['CONDIC_EXPECIONAL'].astype(int)

ValueError: invalid literal for int() with base 10: 'nan'

### Establecimiento

In [94]:
data['CODIGO_ESTABLECIMIENTO'].unique().shape

(160,)

In [95]:
data['CODIGO_ESTABLECIMIENTO'].value_counts().to_frame()

     CODIGO_ESTABLECIMIENTO
113                   11479
502                    7606
226                    6304
410                    5311
114                    5013
..                      ...
534                      10
529                       3
234                       1
155                       1
605                       1

[160 rows x 1 columns]

In [96]:
data['CODIGO_ESTABLECIMIENTO'] = data['CODIGO_ESTABLECIMIENTO'].astype(int)

### Depto Establecimiento

In [97]:
data['DEPTO_ESTABLECIMIENTO'].unique().shape

(30,)

In [98]:
data['DEPTO_ESTABLECIMIENTO'].value_counts().to_frame()

                          DEPTO_ESTABLECIMIENTO
BOGOTA D.C.                               18934
ANTIOQUIA                                 18538
VALLE DEL CAUCA                           17293
SANTANDER                                  9235
META                                       7999
BOYACA                                     7285
TOLIMA                                     6104
CUNDINAMARCA                               5776
CALDAS                                     5286
HUILA                                      5165
CAUCA                                      4628
NORTE DE SANTANDER                         4421
NARIÑO                                     4139
RISARALDA                                  3204
CORDOBA                                    3036
QUINDIO                                    2598
ATLANTICO                                  2552
CAQUETA                                    2272
CESAR                                      2110
BOLIVAR                                    1925
CASANARE                                   1834
SUCRE                                      1453
MAGDALENA                                  1446
CHOCO                                       639
ARAUCA                                      512
LA GUAJIRA                                  450
PUTUMAYO                                    377
AMAZONAS                                    347
SAN ANDRES Y PROVIDENCIA                    253

In [99]:
data['DEPTO_ESTABLECIMIENTO'] = data['DEPTO_ESTABLECIMIENTO'].astype('category')

### Mun Establecimiento

In [100]:
data['MPIO_ESTABLECIMIENTO'].unique().shape

(123,)

In [101]:
data['MPIO_ESTABLECIMIENTO'].value_counts().to_frame()

                        MPIO_ESTABLECIMIENTO
BOGOTA D.C.                            18934
MEDELLIN                               10774
SANTIAGO DE CALI                        6304
BUCARAMANGA                             5893
ACACIAS                                 5478
...                                      ...
MALAGA                                    81
SABANALARGA                               70
SANTAFE DE ANTIOQUIA                      66
SAN VICENTE DE CHUCURI                    64
COROZAL                                   29

[122 rows x 1 columns]

In [102]:
data['MPIO_ESTABLECIMIENTO'] = data['MPIO_ESTABLECIMIENTO'].apply(lambda x: ' '.join(unidecode.unidecode(re.sub(r'[^\w]', ' ',str(x)).lower()).split()))
data['MPIO_ESTABLECIMIENTO'] = data['MPIO_ESTABLECIMIENTO'].astype('category')
data['MPIO_ESTABLECIMIENTO'].unique().shape

(123,)

### Regional

In [103]:
data['REGIONAL'].unique().shape

(6,)

In [104]:
data['REGIONAL'].value_counts().to_frame()

              REGIONAL
CENTRAL          50972
OCCIDENTE        27045
NOROESTE         19232
VIEJO CALDAS     17436
ORIENTE          14792
NORTE            13022

In [105]:
data['REGIONAL'] = data['REGIONAL'].astype('category')

### Estado

In [106]:
data['ESTADO'].unique().shape

(2,)

In [107]:
data['ESTADO'].value_counts().to_frame()

        ESTADO
Baja     95470
Activo   47029

In [108]:
data['ESTADO'] = data['ESTADO'].astype('category')

### Empty

In [109]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142499 entries, 6 to 142504
Data columns (total 30 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   INTERNOEN               142499 non-null  object
 1   DELITO                  142499 non-null  category
 2   TENTATIVA               142499 non-null  category
 3   AGRAVADO                142499 non-null  category
 4   CALIFICADO              142499 non-null  category
 5   FECHA_INGRESO           142499 non-null  datetime64[ns]
 6   FECHA_SALIDA            95815 non-null   datetime64[ns]
 7   FECHA_CAPTURA           142499 non-null  datetime64[ns]
 8   SITUACION_JURIDICA      142499 non-null  category
 9   ANO_NACIMIENTO          142499 non-null  int64
 10  EDAD                    142499 non-null  int64
 11  GENERO                  142499 non-null  category
 12  ESTADO_CIVIL            63007 non-null   category
 13  PAIS_INTERNO            142499 non-null  category
 14  DEPARTAMENTO            142499 non-null  category
 15  CIUDAD                  142499 non-null  category
 16  REINCIDENTE             142499 non-null  category
 17  ESTADO_INGRESO          142469 non-null  category
 18  ACTIVIDADES_TRABAJO     142499 non-null  category
 19  ACTIVIDADES_ESTUDIO     142499 non-null  category
 20  ACTIVIDADES_ENSEÑANZA   142499 non-null  category
 21  NIVEL_EDUCATIVO         142499 non-null  category
 22  HIJOS_MENORES           142499 non-null  object
 23  CONDIC_EXPECIONAL       142499 non-null  category
 24  CODIGO_ESTABLECIMIENTO  142499 non-null  int64
 25  ESTABLECIMIENTO         142499 non-null  object
 26  DEPTO_ESTABLECIMIENTO   139811 non-null  category
 27  MPIO_ESTABLECIMIENTO    142499 non-null  category
 28  REGIONAL                142499 non-null  category
 29  ESTADO                  142499 non-null  category
dtypes: category(21), datetime64[ns](3), int64(3), object(3)
memory usage: 13.2+ MB

In [110]:
data.isnull().sum().to_frame()

                            0
INTERNOEN                   0
DELITO                      0
TENTATIVA                   0
AGRAVADO                    0
CALIFICADO                  0
FECHA_INGRESO               0
FECHA_SALIDA            46684
FECHA_CAPTURA               0
SITUACION_JURIDICA          0
ANO_NACIMIENTO              0
EDAD                        0
GENERO                      0
ESTADO_CIVIL            79492
PAIS_INTERNO                0
DEPARTAMENTO                0
CIUDAD                      0
REINCIDENTE                 0
ESTADO_INGRESO             30
ACTIVIDADES_TRABAJO         0
ACTIVIDADES_ESTUDIO         0
ACTIVIDADES_ENSEÑANZA       0
NIVEL_EDUCATIVO             0
HIJOS_MENORES               0
CONDIC_EXPECIONAL           0
CODIGO_ESTABLECIMIENTO      0
ESTABLECIMIENTO             0
DEPTO_ESTABLECIMIENTO    2688
MPIO_ESTABLECIMIENTO        0
REGIONAL                    0
ESTADO                      0

## EDA

In [114]:
data['REINCIDENTE'].value_counts().to_frame()

    REINCIDENTE
SI       142499

In [116]:
data = data.sort_values(by = ['INTERNOEN','FECHA_INGRESO'])

In [118]:
data.shape

(142499, 30)

In [119]:
with_salida = data[~data['FECHA_SALIDA'].isnull()]
with_salida

,INTERNOEN,DELITO,TENTATIVA,AGRAVADO,CALIFICADO,FECHA_INGRESO,FECHA_SALIDA,FECHA_CAPTURA,SITUACION_JURIDICA,ANO_NACIMIENTO,...,ACTIVIDADES_ENSEÑANZA,NIVEL_EDUCATIVO,HIJOS_MENORES,CONDIC_EXPECIONAL,CODIGO_ESTABLECIMIENTO,ESTABLECIMIENTO,DEPTO_ESTABLECIMIENTO,MPIO_ESTABLECIMIENTO,REGIONAL,ESTADO
39655,000393AD7FE65FBBE53A61B0EAA1FB9A62F71450,fabricacion trafico y porte de armas de fuego ...,N,N,N,2013-05-17,2015-11-08,2010-04-22,CO,1987,...,NO,CICLO IV,SI,nan,113,COMPLEJO CARCELARIO Y PENITENCIARIO METROPOLIT...,BOGOTA D.C.,bogota d c,CENTRAL,Baja
39656,000393AD7FE65FBBE53A61B0EAA1FB9A62F71450,hurto,N,S,S,2013-05-17,2015-11-08,2010-04-22,CO,1987,...,NO,CICLO IV,SI,nan,113,COMPLEJO CARCELARIO Y PENITENCIARIO METROPOLIT...,BOGOTA D.C.,bogota d c,CENTRAL,Baja
56318,0003BE212427DF2E9CCB2449B6012EF915B3FAE3,trafico fabricacion o porte de estupefacientes,N,N,N,2014-10-24,2016-02-19,2014-09-26,CO,1979,...,NO,CICLO II,SI,nan,128,EPMSC ZIPAQUIRA,CUNDINAMARCA,zipaquira,CENTRAL,Baja
72376,0008649DEF36F510807D0AB58A84CF74E6083FBF,concierto para delinquir,N,N,N,2016-01-29,2017-02-02,2016-01-22,CO,1979,...,NO,CICLO I,SI,nan,4221,COMPLEJO CARCELARIO Y PENITENCIARIO METROPOLIT...,NORTE DE SANTANDER,cucuta,ORIENTE,Baja
72377,0008649DEF36F510807D0AB58A84CF74E6083FBF,hurto,N,N,N,2016-01-29,2017-02-02,2016-01-22,CO,1979,...,NO,CICLO I,SI,nan,4221,COMPLEJO CARCELARIO Y PENITENCIARIO METROPOLIT...,NORTE DE SANTANDER,cucuta,ORIENTE,Baja
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1745,FFFB827334A4AA5ED01992EA134E9987A08BDD94,hurto,N,N,N,2010-03-15,2010-11-26,2009-08-04,CO,1985,...,NO,CICLO II,SI,nan,637,EPAMS LA DORADA,CALDAS,la dorada,VIEJO CALDAS,Baja
109383,FFFBA205C68E761D14A93DE664F82436A94D1B99,fuga de presos,N,N,N,2018-05-23,2019-02-06,2018-01-02,CO,1986,...,NO,CICLO III,SI,nan,505,EPMSC ANDES,ANTIOQUIA,andes,NOROESTE,Baja
15805,FFFC9F1A5227DDD6F78179576170997CAAB63AD7,trafico fabricacion o porte de estupefacientes,N,N,N,2011-05-31,2013-07-11,2010-07-20,CO,1953,...,NO,CICLO II,SI,adulto mayor,6392,COMPLEJO CARCELARIO Y PENITENCIARIO DE IBAGU...,TOLIMA,ibague,VIEJO CALDAS,Baja
75448,FFFC9F1A5227DDD6F78179576170997CAAB63AD7,trafico fabricacion o porte de estupefacientes,N,N,N,2016-04-14,2018-07-27,2016-04-13,CO,1953,...,NO,CICLO II,SI,adulto mayor,628,EPMSC HONDA,TOLIMA,honda,VIEJO CALDAS,Baja
75093,FFFF73D0B7088A0EF0A4B7F3CC26F8CF672C6EC1,hurto,N,N,S,2016-05-04,2016-09-06,2014-11-06,CO,1986,...,NO,CICLO IV,SI,nan,113,COMPLEJO CARCELARIO Y PENITENCIARIO METROPOLIT...,BOGOTA D.C.,bogota d c,CENTRAL,Baja

In [120]:
with_salida['INTERNOEN'].value_counts().to_frame()

                                          INTERNOEN
71D8863489582B956956B3E244CF97F629E190F8         16
85F84CC906246E467ACC8D3CD73B576E0B264556         15
C6A8D6B8A3433007BDDE0B6A682268EFD0FA16AD         14
5F6A19F239D3786924DB4FEAC108F33219BFD205         14
78E5DD972BE11B4BDAA55B55487DBAF7AED55E25         13
...                                             ...
EAE7297133BD9856AFE5FB2921772A656767E1EF          1
0B145F8FF3E6C55068D8ED355769F967E4F58B3D          1
172E25B66F234C54874848CDE72E3EAE705B3BD5          1
6AA2A6F13CE0743BD1305A49C13AECD1725E8108          1
44D92273F21B43DE82EB213843AEEE9363903480          1

[53847 rows x 1 columns]

In [124]:
with_salida[with_salida['INTERNOEN'] == '71D8863489582B956956B3E244CF97F629E190F8'].sort_values(by=['FECHA_CAPTURA'])

,INTERNOEN,DELITO,TENTATIVA,AGRAVADO,CALIFICADO,FECHA_INGRESO,FECHA_SALIDA,FECHA_CAPTURA,SITUACION_JURIDICA,ANO_NACIMIENTO,EDAD,GENERO,ESTADO_CIVIL,PAIS_INTERNO,DEPARTAMENTO,CIUDAD,REINCIDENTE,ESTADO_INGRESO,ACTIVIDADES_TRABAJO,ACTIVIDADES_ESTUDIO,ACTIVIDADES_ENSEÑANZA,NIVEL_EDUCATIVO,HIJOS_MENORES,CONDIC_EXPECIONAL,CODIGO_ESTABLECIMIENTO,ESTABLECIMIENTO,DEPTO_ESTABLECIMIENTO,MPIO_ESTABLECIMIENTO,REGIONAL,ESTADO
58602,71D8863489582B956956B3E244CF97F629E190F8,concierto para delinquir,N,N,N,2015-01-22,2016-05-02,2006-11-10,CO,1974,45,MASCULINO,NaN,republica de colombia,antioquia,puerto triunfo antioquia,SI,Intramuros,SI,SI,NO,CICLO IV,SI,nan,501,CPAMS LA PAZ,ANTIOQUIA,itagui,NOROESTE,Baja
58605,71D8863489582B956956B3E244CF97F629E190F8,desplazamiento forzado,N,N,N,2015-01-22,2016-05-02,2006-11-10,CO,1974,45,MASCULINO,NaN,republica de colombia,antioquia,puerto triunfo antioquia,SI,Intramuros,SI,SI,NO,CICLO IV,SI,nan,501,CPAMS LA PAZ,ANTIOQUIA,itagui,NOROESTE,Baja
58609,71D8863489582B956956B3E244CF97F629E190F8,homicidio,N,N,N,2015-01-22,2016-05-02,2006-11-10,CO,1974,45,MASCULINO,NaN,republica de colombia,antioquia,puerto triunfo antioquia,SI,Intramuros,SI,SI,NO,CICLO IV,SI,nan,501,CPAMS LA PAZ,ANTIOQUIA,itagui,NOROESTE,Baja
58612,71D8863489582B956956B3E244CF97F629E190F8,hurto,N,N,N,2015-01-22,2016-05-02,2006-11-10,CO,1974,45,MASCULINO,NaN,republica de colombia,antioquia,puerto triunfo antioquia,SI,Intramuros,SI,SI,NO,CICLO IV,SI,nan,501,CPAMS LA PAZ,ANTIOQUIA,itagui,NOROESTE,Baja
58603,71D8863489582B956956B3E244CF97F629E190F8,concierto para delinquir,N,N,N,2015-01-22,2016-05-02,2008-06-05,CO,1974,45,MASCULINO,NaN,republica de colombia,antioquia,puerto triunfo antioquia,SI,Intramuros,SI,SI,NO,CICLO IV,SI,nan,501,CPAMS LA PAZ,ANTIOQUIA,itagui,NOROESTE,Baja
58604,71D8863489582B956956B3E244CF97F629E190F8,constrenimiento ilegal,N,N,N,2015-01-22,2016-05-02,2008-06-05,CO,1974,45,MASCULINO,NaN,republica de colombia,antioquia,puerto triunfo antioquia,SI,Intramuros,SI,SI,NO,CICLO IV,SI,nan,501,CPAMS LA PAZ,ANTIOQUIA,itagui,NOROESTE,Baja
58606,71D8863489582B956956B3E244CF97F629E190F8,desplazamiento forzado,N,N,N,2015-01-22,2016-05-02,2008-06-05,CO,1974,45,MASCULINO,NaN,republica de colombia,antioquia,puerto triunfo antioquia,SI,Intramuros,SI,SI,NO,CICLO IV,SI,nan,501,CPAMS LA PAZ,ANTIOQUIA,itagui,NOROESTE,Baja
58607,71D8863489582B956956B3E244CF97F629E190F8,destruccion y apropiacion de bienes protegidos,N,N,N,2015-01-22,2016-05-02,2008-06-05,CO,1974,45,MASCULINO,NaN,republica de colombia,antioquia,puerto triunfo antioquia,SI,Intramuros,SI,SI,NO,CICLO IV,SI,nan,501,CPAMS LA PAZ,ANTIOQUIA,itagui,NOROESTE,Baja
58608,71D8863489582B956956B3E244CF97F629E190F8,fabricacion trafico y porte de armas y municio...,N,N,N,2015-01-22,2016-05-02,2008-06-05,CO,1974,45,MASCULINO,NaN,republica de colombia,antioquia,puerto triunfo antioquia,SI,Intramuros,SI,SI,NO,CICLO IV,SI,nan,501,CPAMS LA PAZ,ANTIOQUIA,itagui,NOROESTE,Baja
58610,71D8863489582B956956B3E244CF97F629E190F8,homicidio,N,N,N,2015-01-22,2016-05-02,2008-06-05,CO,1974,45,MASCULINO,NaN,republica de colombia,antioquia,puerto triunfo antioquia,SI,Intramuros,SI,SI,NO,CICLO IV,SI,nan,501,CPAMS LA PAZ,ANTIOQUIA,itagui,NOROESTE,Baja
58611,71D8863489582B956956B3E244CF97F629E190F8,homicidio en persona protegida,N,N,N,2015-01-22,2016-05-02,2008-06-05,CO,1974,45,MASCULINO,NaN,republica de colombia,antioquia,puerto triunfo antioquia,SI,Intramuros,SI,SI,NO,CICLO IV,SI,nan,501,CPAMS LA PAZ,ANTIOQUIA,itagui,NOROESTE,Baja
58613,71D8863489582B956956B3E244CF97F629E190F8,hurto,N,N,N,2015-01-22,2016-05-02,2008-06-05,CO,1974,45,MASCULINO,NaN,republica de colombia,antioquia,puerto triunfo antioquia,SI,Intramuros,SI,SI,NO,CICLO IV,SI,nan,501,CPAMS LA PAZ,ANTIOQUIA,itagui,NOROESTE,Baja
58614,71D8863489582B956956B3E244CF97F629E190F8,reclutamiento ilicito,N,N,N,2015-01-22,2016-05-02,2008-06-05,CO,1974,45,MASCULINO,NaN,republica de colombia,antioquia,puerto triunfo antioquia,SI,Intramuros,SI,SI,NO,CICLO IV,SI,nan,501,CPAMS LA PAZ,ANTIOQUIA,itagui,NOROESTE,Baja
58615,71D8863489582B956956B3E244CF97F629E190F8,secuestro simple,N,N,N,2015-01-22,2016-05-02,2008-06-05,CO,1974,45,MASCULINO,NaN,republica de colombia,antioquia,puerto triunfo antioquia,SI,Intramuros,SI,SI,NO,CICLO IV,SI,nan,501,CPAMS LA PAZ,ANTIOQUIA,itagui,NOROESTE,Baja
58616,71D8863489582B956956B3E244CF97F629E190F8,tortura en persona protegida,N,N,N,2015-01-22,2016-05-02,2008-06-05,CO,1974,45,MASCULINO,NaN,republica de colombia,antioquia,puerto triunfo antioquia,SI,Intramuros,SI,SI,NO,CICLO IV,SI,nan,501,CPAMS LA PAZ,ANTIOQUIA,itagui,NOROESTE,Baja
58617,71D8863489582B956956B3E244CF97F629E190F8,utilizacion ilegal de uniformes e insignias,N,N,N,2015-01-22,2016-05-02,2008-06-05,CO,1974,45,MASCULINO,NaN,republica de colombia,antioquia,puerto triunfo antioquia,SI,Intramuros,SI,SI,NO,CICLO IV,SI,nan,501,CPAMS LA PAZ,ANTIOQUIA,itagui,NOROESTE,Baja

In [125]:
años_fech_ing = data['FECHA_INGRESO'].dt.year.value_counts().to_frame().reset_index()
años_fech_ing.columns = ['año','counts']
años_fech_ing.sort_values(by='año')

     año  counts
9   2010   10222
5   2011   13119
8   2012   10611
6   2013   12523
7   2014   11155
4   2015   13933
3   2016   15184
2   2017   15759
1   2018   17543
0   2019   18317
10  2020    4133

In [126]:
años_fech_cap = data['FECHA_CAPTURA'].dt.year.value_counts().to_frame().reset_index()
años_fech_cap.columns = ['año','counts']
años_fech_cap.sort_values(by='año')

     año  counts
27  1978       1
25  1994       5
26  1995       3
24  1996      20
23  1997      28
22  1998      32
21  1999      45
20  2000      93
19  2001     108
18  2002     165
17  2003     212
16  2004     280
15  2005     432
14  2006     619
13  2007    1471
11  2008    2754
10  2009    4565
8   2010   11203
4   2011   13221
6   2012   12482
7   2013   11738
5   2014   12680
3   2015   13228
2   2016   14057
1   2017   14979
0   2018   15097
9   2019   11043
12  2020    1938

In [127]:
fecha_ing_count = data.groupby(['INTERNOEN'])['FECHA_INGRESO'].apply(lambda x: len(np.unique(x))).value_counts().to_frame()
fecha_ing_count['%'] = 100*(fecha_ing_count['FECHA_INGRESO'] / fecha_ing_count['FECHA_INGRESO'].sum())
fecha_ing_count

   FECHA_INGRESO          %
1          58682  74.580278
2          16398  20.840588
3           3007   3.821664
4            493   0.626565
5             90   0.114383
6             10   0.012709
7              2   0.002542
9              1   0.001271

In [128]:
fecha_cap_count = data.groupby(['INTERNOEN'])['FECHA_CAPTURA'].apply(lambda x: len(np.unique(x))).value_counts().to_frame()
fecha_cap_count['%'] = 100*(fecha_cap_count['FECHA_CAPTURA'] / fecha_cap_count['FECHA_CAPTURA'].sum())
fecha_cap_count

    FECHA_CAPTURA          %
1           55415  70.428174
2           17647  22.427970
3            4320   5.490385
4             983   1.249317
5             230   0.292312
6              57   0.072443
7              25   0.031773
8               3   0.003813
9               2   0.002542
13              1   0.001271

In [136]:
data.INTERNOEN.unique().shape

(78683,)

In [135]:
data.groupby(['INTERNOEN'])[['DELITO']].count().describe(percentiles=[0.25, 0.5, 0.75, 0.9, 0.95])

             DELITO
count  78683.000000
mean       1.811052
std        1.080983
min        1.000000
25%        1.000000
50%        1.000000
75%        2.000000
90%        3.000000
95%        4.000000
max       16.000000