In [138]:
import pandas as pd
import numpy as np
import re
import unidecode
import plotly.express as px
import plotly.io as pio

In [2]:
pd.set_option('display.max_columns', 100)

In [139]:
pio.renderers.default='notebook'

## Loading Data

### File ReincidenciaPospenadosNal201011Junio2020Rev.xlsx

In [3]:
data = pd.read_excel('data/ReincidenciaPospenadosNal201011Junio2020Rev.xlsx', sheet_name = 'Reincidencias2010-2020')
data.columns = data.iloc[5].values
data = data[6:]
data

,INTERNOEN,DELITO,TITULO_DELITO,SUBTITULO_DELITO,TENTATIVA,AGRAVADO,CALIFICADO,FECHA_INGRESO,FECHA_SALIDA,FECHA_CAPTURA,SITUACION_JURIDICA,ANO_NACIMIENTO,EDAD,GENERO,ESTADO_CIVIL,PAIS_INTERNO,DEPARTAMENTO,CIUDAD,REINCIDENTE,ESTADO_INGRESO,ACTIVIDADES_TRABAJO,ACTIVIDADES_ESTUDIO,ACTIVIDADES_ENSEÃ‘ANZA,NIVEL_EDUCATIVO,HIJOS_MENORES,CONDIC_EXPECIONAL,CODIGO_ESTABLECIMIENTO,ESTABLECIMIENTO,DEPTO_ESTABLECIMIENTO,MPIO_ESTABLECIMIENTO,REGIONAL,ESTADO
6,5496C737C624136DB406CFC6744C684C070A3CD8,FABRICACION TRAFICO Y PORTE DE ARMAS DE FUEGO ...,CONTRA LA SEGURIDAD PUBLICA,DE LOS DELITOS DE PELIGRO COMUN O QUE PUEDEN O...,N,N,N,01/01/10,12/05/11,30/12/09,CO,1972,48,MASCULINO,NaN,REPUBLICA DE COLOMBIA,ANTIOQUIA,ENVIGADO-ANTIOQUIA,SI,Intramuros,SI,SI,NO,CICLO III,SI,NaN,502,EPMSC MEDELLIN,ANTIOQUIA,MEDELLIN,NOROESTE,Baja
7,1097561F306939C26DB4AC60377063DA7E2B079F,TRAFICO FABRICACION O PORTE DE ESTUPEFACIENTES,CONTRA LA SALUD PUBLICA,DE LAS AFECTACIONES A LA SALUD PUBLICA,N,N,N,01/01/10,05/12/11,30/12/09,CO,1962,58,MASCULINO,NaN,REPUBLICA DE COLOMBIA,ANTIOQUIA,ANORI-ANTIOQUIA,SI,Intramuros,NO,NO,NO,CICLO I,SI,NaN,502,EPMSC MEDELLIN,ANTIOQUIA,MEDELLIN,NOROESTE,Baja
8,CB7033A707ADE673139F8A17CAD26AD54696C135,FABRICACION TRAFICO Y PORTE DE ARMAS DE FUEGO ...,CONTRA LA SEGURIDAD PUBLICA,DE LOS DELITOS DE PELIGRO COMUN O QUE PUEDEN O...,N,N,N,01/01/10,06/08/13,30/12/09,CO,1982,38,MASCULINO,NaN,REPUBLICA DE COLOMBIA,CAUCA,CAJIBIO-CAUCA,SI,Intramuros,SI,SI,NO,CICLO I,SI,NaN,235,EPAMSCAS POPAYAN (ERE),CAUCA,POPAYAN,OCCIDENTE,Baja
9,CB7033A707ADE673139F8A17CAD26AD54696C135,HURTO,CONTRA EL PATRIMONIO ECONOMICO,DE LA ESTAFA,N,S,S,01/01/10,06/08/13,30/12/09,CO,1982,38,MASCULINO,NaN,REPUBLICA DE COLOMBIA,CAUCA,CAJIBIO-CAUCA,SI,Intramuros,SI,SI,NO,CICLO I,SI,NaN,235,EPAMSCAS POPAYAN (ERE),CAUCA,POPAYAN,OCCIDENTE,Baja
10,CB7033A707ADE673139F8A17CAD26AD54696C135,UTILIZACION ILEGAL DE UNIFORMES E INSIGNIAS,CONTRA LA SEGURIDAD PUBLICA,DE LOS DELITOS DE PELIGRO COMUN O QUE PUEDEN O...,N,N,N,01/01/10,06/08/13,30/12/09,CO,1982,38,MASCULINO,NaN,REPUBLICA DE COLOMBIA,CAUCA,CAJIBIO-CAUCA,SI,Intramuros,SI,SI,NO,CICLO I,SI,NaN,235,EPAMSCAS POPAYAN (ERE),CAUCA,POPAYAN,OCCIDENTE,Baja
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142900,E5551238168C284F73834D203E0EAD0679E5168C,HURTO,CONTRA EL PATRIMONIO ECONOMICO,DE LA ESTAFA,N,S,S,10/06/20,NaN,01/09/19,CO,1997,22,MASCULINO,UNION LIBRE,REPUBLICA DE COLOMBIA,ANTIOQUIA,APARTADO-ANTIOQUIA,SI,Prision Domiciliaria,NO,NO,NO,CICLO III,SI,NaN,502,EPMSC MEDELLIN,ANTIOQUIA,MEDELLIN,NOROESTE,Activo
142901,A513E93CA6CBAED54CD9B1D165C75A3EF4F11CD4,HURTO,CONTRA EL PATRIMONIO ECONOMICO,DE LA ESTAFA,N,S,S,11/06/20,NaN,10/12/14,CO,1976,44,MASCULINO,SOLTERO(A),REPUBLICA DE COLOMBIA,CALDAS,LA DORADA-CALDAS,SI,Intramuros,NO,NO,NO,CICLO II,NO,NaN,628,EPMSC HONDA,TOLIMA,HONDA,VIEJO CALDAS,Activo
142902,856368363834654A5F64534163FE7C7EE6A8A1CA,FABRICACION TRAFICO Y PORTE DE ARMAS DE FUEGO ...,CONTRA LA SEGURIDAD PUBLICA,DE LOS DELITOS DE PELIGRO COMUN O QUE PUEDEN O...,N,N,N,11/06/20,NaN,13/08/16,CO,1985,34,MASCULINO,SOLTERO(A),REPUBLICA DE COLOMBIA,QUINDIO,ARMENIA-QUINDIO,SI,Intramuros,NO,NO,NO,CICLO I,NO,CON DISCAPACIDAD,613,EPMSC ARMENIA,QUINDIO,ARMENIA,VIEJO CALDAS,Activo
142903,E5385D722533896751FBF38A2129D97966267AB1,HURTO,CONTRA EL PATRIMONIO ECONOMICO,DE LA ESTAFA,S,N,N,11/06/20,NaN,09/06/20,CO,1981,39,FEMENINO,SOLTERO(A),REPUBLICA DE COLOMBIA,ANTIOQUIA,APARTADO-ANTIOQUIA,SI,Prision Domiciliaria,NO,NO,NO,CICLO I,SI,AFRO COLOMBIANO,5373,COMPLEJO CARCELARIO Y PENITENCIARIO DE MEDELLI...,ANTIOQUIA,MEDELLIN,NOROESTE,Activo
142904,FA176CD9955DAF77F313343E29136E87FE8B0056,FABRICACION TRAFICO Y PORTE DE ARMAS DE FUEGO ...,CONTRA LA SEGURIDAD PUBLICA,DE LOS DELITOS DE PELIGRO COMUN O QUE PUEDEN O...,N,N,N,11/06/20,NaN,02/08/18,CO,1989,30,MASCULINO,SOLTERO(A),REPUBLICA DE COLOMBIA,CAUCA,MERCADERES-CAUCA,SI,Intramuros,NO,NO,NO,CICLO IV,SI,NaN,204,EPMSC EL BORDO,CAUCA,EL BORDO,OCCIDENTE,Activo

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142899 entries, 6 to 142904
Data columns (total 32 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   INTERNOEN               142899 non-null  object
 1   DELITO                  142899 non-null  object
 2   TITULO_DELITO           142899 non-null  object
 3   SUBTITULO_DELITO        142899 non-null  object
 4   TENTATIVA               142899 non-null  object
 5   AGRAVADO                142899 non-null  object
 6   CALIFICADO              142899 non-null  object
 7   FECHA_INGRESO           142899 non-null  object
 8   FECHA_SALIDA            96345 non-null   object
 9   FECHA_CAPTURA           142899 non-null  object
 10  SITUACION_JURIDICA      142899 non-null  object
 11  ANO_NACIMIENTO          142899 non-null  object
 12  EDAD                    142899 non-null  object
 13  GENERO                  142899 non-null  object
 14  ESTADO_CIVIL            62810 non-null   object
 15  PAIS_INTERNO            139737 non-null  object
 16  DEPARTAMENTO            142892 non-null  object
 17  CIUDAD                  142899 non-null  object
 18  REINCIDENTE             142899 non-null  object
 19  ESTADO_INGRESO          142869 non-null  object
 20  ACTIVIDADES_TRABAJO     142899 non-null  object
 21  ACTIVIDADES_ESTUDIO     142899 non-null  object
 22  ACTIVIDADES_ENSEÃ‘ANZA   142899 non-null  object
 23  NIVEL_EDUCATIVO         142899 non-null  object
 24  HIJOS_MENORES           142899 non-null  object
 25  CONDIC_EXPECIONAL       13314 non-null   object
 26  CODIGO_ESTABLECIMIENTO  142899 non-null  object
 27  ESTABLECIMIENTO         142899 non-null  object
 28  DEPTO_ESTABLECIMIENTO   140108 non-null  object
 29  MPIO_ESTABLECIMIENTO    140108 non-null  object
 30  REGIONAL                142899 non-null  object
 31  ESTADO                  142899 non-null  object
dtypes: object(32)
memory usage: 34.9+ MB

### File ReincidenciaPospenadosNal2010-31Mayo2020Rev_con variables demograficas.xlsx

In [5]:
data_mayo = pd.read_excel('data/ReincidenciaPospenadosNal2010-31Mayo2020Rev_con variables demograficas.xlsx')
data_mayo.columns = data_mayo.iloc[5].values
data_mayo = data_mayo[6:]
data_mayo

,INTERNOEN,DELITO,TENTATIVA,AGRAVADO,CALIFICADO,FECHA_INGRESO,FECHA_SALIDA,FECHA_CAPTURA,SITUACION_JURIDICA,ANO_NACIMIENTO,EDAD,GENERO,ESTADO_CIVIL,PAIS_INTERNO,DEPARTAMENTO,CIUDAD,REINCIDENTE,ESTADO_INGRESO,ACTIVIDADES_TRABAJO,ACTIVIDADES_ESTUDIO,ACTIVIDADES_ENSEÃ‘ANZA,NIVEL_EDUCATIVO,HIJOS_MENORES,CONDIC_EXPECIONAL,CODIGO_ESTABLECIMIENTO,ESTABLECIMIENTO,DEPTO_ESTABLECIMIENTO,MPIO_ESTABLECIMIENTO,REGIONAL,ESTADO
6,5496C737C624136DB406CFC6744C684C070A3CD8,FABRICACION TRAFICO Y PORTE DE ARMAS DE FUEGO ...,N,N,N,01/01/10,12/05/11,30/12/09,CO,1972,48,MASCULINO,NaN,REPUBLICA DE COLOMBIA,ANTIOQUIA,ENVIGADO-ANTIOQUIA,SI,Intramuros,SI,SI,NO,CICLO III,SI,NaN,502,EPMSC MEDELLIN,ANTIOQUIA,MEDELLIN,NOROESTE,Baja
7,1097561F306939C26DB4AC60377063DA7E2B079F,TRAFICO FABRICACION O PORTE DE ESTUPEFACIENTES,N,N,N,01/01/10,05/12/11,30/12/09,CO,1962,58,MASCULINO,NaN,REPUBLICA DE COLOMBIA,ANTIOQUIA,ANORI-ANTIOQUIA,SI,Intramuros,NO,NO,NO,CICLO I,SI,NaN,502,EPMSC MEDELLIN,ANTIOQUIA,MEDELLIN,NOROESTE,Baja
8,CB7033A707ADE673139F8A17CAD26AD54696C135,FABRICACION TRAFICO Y PORTE DE ARMAS DE FUEGO ...,N,N,N,01/01/10,06/08/13,30/12/09,CO,1982,38,MASCULINO,NaN,REPUBLICA DE COLOMBIA,CAUCA,CAJIBIO-CAUCA,SI,Intramuros,SI,SI,NO,CICLO I,SI,NaN,235,EPAMSCAS POPAYAN (ERE),CAUCA,POPAYAN,OCCIDENTE,Baja
9,CB7033A707ADE673139F8A17CAD26AD54696C135,HURTO,N,S,S,01/01/10,06/08/13,30/12/09,CO,1982,38,MASCULINO,NaN,REPUBLICA DE COLOMBIA,CAUCA,CAJIBIO-CAUCA,SI,Intramuros,SI,SI,NO,CICLO I,SI,NaN,235,EPAMSCAS POPAYAN (ERE),CAUCA,POPAYAN,OCCIDENTE,Baja
10,CB7033A707ADE673139F8A17CAD26AD54696C135,UTILIZACION ILEGAL DE UNIFORMES E INSIGNIAS,N,N,N,01/01/10,06/08/13,30/12/09,CO,1982,38,MASCULINO,NaN,REPUBLICA DE COLOMBIA,CAUCA,CAJIBIO-CAUCA,SI,Intramuros,SI,SI,NO,CICLO I,SI,NaN,235,EPAMSCAS POPAYAN (ERE),CAUCA,POPAYAN,OCCIDENTE,Baja
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142500,A112E9DC935B0D64DC75852EB0A30D65291F1B64,FABRICACION TRAFICO Y PORTE DE ARMAS DE FUEGO ...,N,N,N,30/05/20,NaN,23/03/03,CO,1978,41,MASCULINO,UNION LIBRE,REPUBLICA DE COLOMBIA,VALLE DEL CAUCA,BUGA-VALLE DEL CAUCA,SI,Intramuros,NO,NO,NO,CICLO II,1,NaN,227,EPMSC BUGA,VALLE DEL CAUCA,BUGA,OCCIDENTE,Activo
142501,A112E9DC935B0D64DC75852EB0A30D65291F1B64,HOMICIDIO,N,S,N,30/05/20,NaN,23/03/03,CO,1978,41,MASCULINO,UNION LIBRE,REPUBLICA DE COLOMBIA,VALLE DEL CAUCA,BUGA-VALLE DEL CAUCA,SI,Intramuros,NO,NO,NO,CICLO II,1,NaN,227,EPMSC BUGA,VALLE DEL CAUCA,BUGA,OCCIDENTE,Activo
142502,A112E9DC935B0D64DC75852EB0A30D65291F1B64,HOMICIDIO,S,S,N,30/05/20,NaN,23/03/03,CO,1978,41,MASCULINO,UNION LIBRE,REPUBLICA DE COLOMBIA,VALLE DEL CAUCA,BUGA-VALLE DEL CAUCA,SI,Intramuros,NO,NO,NO,CICLO II,1,NaN,227,EPMSC BUGA,VALLE DEL CAUCA,BUGA,OCCIDENTE,Activo
142503,A112E9DC935B0D64DC75852EB0A30D65291F1B64,HURTO,N,S,N,30/05/20,NaN,23/03/03,CO,1978,41,MASCULINO,UNION LIBRE,REPUBLICA DE COLOMBIA,VALLE DEL CAUCA,BUGA-VALLE DEL CAUCA,SI,Intramuros,NO,NO,NO,CICLO II,1,NaN,227,EPMSC BUGA,VALLE DEL CAUCA,BUGA,OCCIDENTE,Activo
142504,73CC98628509EC80173897BB76362B1E42658BB5,TRAFICO FABRICACION O PORTE DE ESTUPEFACIENTES,N,N,N,30/05/20,NaN,19/06/19,CO,1989,31,FEMENINO,UNION LIBRE,REPUBLICA DE COLOMBIA,CAUCA,POPAYAN-CAUCA,SI,Intramuros,NO,NO,NO,CICLO III,0,NaN,209,RM POPAYAN,CAUCA,POPAYAN,OCCIDENTE,Activo

In [6]:
data_mayo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142499 entries, 6 to 142504
Data columns (total 30 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   INTERNOEN               142499 non-null  object
 1   DELITO                  142499 non-null  object
 2   TENTATIVA               142499 non-null  object
 3   AGRAVADO                142499 non-null  object
 4   CALIFICADO              142499 non-null  object
 5   FECHA_INGRESO           142499 non-null  object
 6   FECHA_SALIDA            95815 non-null   object
 7   FECHA_CAPTURA           142499 non-null  object
 8   SITUACION_JURIDICA      142499 non-null  object
 9   ANO_NACIMIENTO          142499 non-null  object
 10  EDAD                    142499 non-null  object
 11  GENERO                  142499 non-null  object
 12  ESTADO_CIVIL            63007 non-null   object
 13  PAIS_INTERNO            139346 non-null  object
 14  DEPARTAMENTO            142492 non-null  object
 15  CIUDAD                  142499 non-null  object
 16  REINCIDENTE             142499 non-null  object
 17  ESTADO_INGRESO          142469 non-null  object
 18  ACTIVIDADES_TRABAJO     142499 non-null  object
 19  ACTIVIDADES_ESTUDIO     142499 non-null  object
 20  ACTIVIDADES_ENSEÃ‘ANZA   142499 non-null  object
 21  NIVEL_EDUCATIVO         142499 non-null  object
 22  HIJOS_MENORES           142499 non-null  object
 23  CONDIC_EXPECIONAL       13275 non-null   object
 24  CODIGO_ESTABLECIMIENTO  142499 non-null  object
 25  ESTABLECIMIENTO         142499 non-null  object
 26  DEPTO_ESTABLECIMIENTO   139811 non-null  object
 27  MPIO_ESTABLECIMIENTO    139811 non-null  object
 28  REGIONAL                142499 non-null  object
 29  ESTADO                  142499 non-null  object
dtypes: object(30)
memory usage: 32.6+ MB

### File SHDI Colombia 4.0.xlsx

In [7]:
SHDI = pd.read_excel('data/SHDI Colombia 4.0.xlsx')
#data2.columns = data2.iloc[5].values
#data2 = data2[6:]
SHDI

,iso_code,country,year,GDLCODE,level,region,continent,shdi,healthindex,incindex,edindex,lifexp,gnic,esch,msch,pop
0,COL,Colombia,1990,COLr101,Subnat,Antioquia (incl Medellin),America,0.603,0.785,0.675,0.413,71.02,8.719078,8.63,5.20,4.092471
1,COL,Colombia,1990,COLr102,Subnat,Atlantico (incl Barranquilla),America,0.631,0.785,0.660,0.484,71.02,7.910401,9.89,6.28,2.315525
2,COL,Colombia,1990,COLr103,Subnat,Bogota D.C.,America,0.673,0.778,0.709,0.552,70.59,10.950703,10.54,7.78,4.715131
3,COL,Colombia,1990,COLr104,Subnat,Bolivar (Sur and Norte),America,0.587,0.724,0.623,0.449,67.06,6.169956,9.39,5.65,1.122177
4,COL,Colombia,1990,COLr105,Subnat,Boyaca,America,0.567,0.804,0.603,0.375,72.24,5.404022,8.70,4.00,1.556152
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
981,COL,Colombia,2018,COLr130,Subnat,Guainja,America,0.664,0.884,0.582,0.569,77.48,4.700667,13.20,6.06,0.042698
982,COL,Colombia,2018,COLr131,Subnat,Guaviare,America,0.749,0.883,0.710,0.671,77.38,10.972033,14.99,7.65,0.067026
983,COL,Colombia,2018,COLr132,Subnat,Vaupis,America,0.635,0.797,0.527,0.611,71.82,3.283906,14.18,6.50,0.045180
984,COL,Colombia,2018,COLr133,Subnat,Vichada,America,0.748,0.886,0.722,0.653,77.58,11.945034,13.75,8.13,0.032272
985,COL,Colombia,2018,COLt,National,Total,America,0.761,0.879,0.734,0.683,77.11,12.895595,14.60,8.33,49.648685

### File SHDI-4.0-Vardescription.xlsx

In [8]:
SHDI_vardesc = pd.read_excel('data/SHDI-4.0-Vardescription.xlsx')
SHDI_vardesc

,Variable,Category,Dtype,Decimals,RankOrder,Label,Shortdescr,Longdescr
0,iso_code,System,Str,NaN,NaN,NaN,ISO country code 3 digit,ISO country code 3 digit
1,country,System,Str,NaN,NaN,NaN,Country name,Country name
2,year,System,Int,0.0,NaN,NaN,Year of data collection,Year of data collection
3,GDLCODE,System,Str,NaN,NaN,NaN,Region code Global Data Lab,"Iso-code, level (t=total), regional division (..."
4,level,System,Str,NaN,NaN,NaN,Aggregation level,National or sub-national
5,region,System,Str,NaN,NaN,NaN,Sub-national region name,Name of sub-national region
6,continent,System,Flt,NaN,NaN,NaN,Continent,"Categories: Africa, America, Asia/Pacific, Europe"
7,shdi,Indices,Pos,3.0,A,Sub-national HDI,Sub-national HDI,NaN
8,healthindex,Indices,Pos,3.0,A,Health index,Health index,NaN
9,incindex,Indices,Pos,3.0,A,Income index,Income index,NaN
10,edindex,Indices,Pos,3.0,A,Educational index,Educational index,NaN
11,lifexp,Indicators,Pos,3.0,A,Life expectancy,Life expectancy,Life expectancy at birth
12,gnic,Indicators,Pos,3.0,A,GNI per capita in thousands of US$ (2011 PPP),GNI per capita in thousands of US$ (2011 PPP),Gross National Income per capita in thousands ...
13,esch,Indicators,Pos,2.0,A,Expected years schooling,Expected years schooling,Expected years schooling children aged 6
14,msch,Indicators,Pos,2.0,A,Mean years schooling,Mean years schooling,Mean years schooling population aged 25+
15,pop,Indicators,Pos,2.0,A,Population size in millions,Population size in millions,Population size in millions

## Cleaning Data

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142899 entries, 6 to 142904
Data columns (total 32 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   INTERNOEN               142899 non-null  object
 1   DELITO                  142899 non-null  object
 2   TITULO_DELITO           142899 non-null  object
 3   SUBTITULO_DELITO        142899 non-null  object
 4   TENTATIVA               142899 non-null  object
 5   AGRAVADO                142899 non-null  object
 6   CALIFICADO              142899 non-null  object
 7   FECHA_INGRESO           142899 non-null  object
 8   FECHA_SALIDA            96345 non-null   object
 9   FECHA_CAPTURA           142899 non-null  object
 10  SITUACION_JURIDICA      142899 non-null  object
 11  ANO_NACIMIENTO          142899 non-null  object
 12  EDAD                    142899 non-null  object
 13  GENERO                  142899 non-null  object
 14  ESTADO_CIVIL            62810 non-null   object
 15  PAIS_INTERNO            139737 non-null  object
 16  DEPARTAMENTO            142892 non-null  object
 17  CIUDAD                  142899 non-null  object
 18  REINCIDENTE             142899 non-null  object
 19  ESTADO_INGRESO          142869 non-null  object
 20  ACTIVIDADES_TRABAJO     142899 non-null  object
 21  ACTIVIDADES_ESTUDIO     142899 non-null  object
 22  ACTIVIDADES_ENSEÃ‘ANZA   142899 non-null  object
 23  NIVEL_EDUCATIVO         142899 non-null  object
 24  HIJOS_MENORES           142899 non-null  object
 25  CONDIC_EXPECIONAL       13314 non-null   object
 26  CODIGO_ESTABLECIMIENTO  142899 non-null  object
 27  ESTABLECIMIENTO         142899 non-null  object
 28  DEPTO_ESTABLECIMIENTO   140108 non-null  object
 29  MPIO_ESTABLECIMIENTO    140108 non-null  object
 30  REGIONAL                142899 non-null  object
 31  ESTADO                  142899 non-null  object
dtypes: object(32)
memory usage: 34.9+ MB

In [10]:
vacios = data.isnull().sum().to_frame()
vacios.columns = ['num']
vacios['total'] = [len(data)]*len(vacios)
vacios['%'] = 100*(vacios['num'] / vacios['total'])
vacios = vacios.sort_values(by = '%', ascending = False)
vacios

                           num   total          %
CONDIC_EXPECIONAL       129585  142899  90.682930
ESTADO_CIVIL             80089  142899  56.045879
FECHA_SALIDA             46554  142899  32.578255
PAIS_INTERNO              3162  142899   2.212752
MPIO_ESTABLECIMIENTO      2791  142899   1.953128
DEPTO_ESTABLECIMIENTO     2791  142899   1.953128
ESTADO_INGRESO              30  142899   0.020994
DEPARTAMENTO                 7  142899   0.004899
CODIGO_ESTABLECIMIENTO       0  142899   0.000000
REINCIDENTE                  0  142899   0.000000
HIJOS_MENORES                0  142899   0.000000
NIVEL_EDUCATIVO              0  142899   0.000000
ACTIVIDADES_ENSEÃ‘ANZA        0  142899   0.000000
ACTIVIDADES_ESTUDIO          0  142899   0.000000
ACTIVIDADES_TRABAJO          0  142899   0.000000
ESTABLECIMIENTO              0  142899   0.000000
REGIONAL                     0  142899   0.000000
INTERNOEN                    0  142899   0.000000
CIUDAD                       0  142899   0.000000
DELITO                       0  142899   0.000000
GENERO                       0  142899   0.000000
EDAD                         0  142899   0.000000
ANO_NACIMIENTO               0  142899   0.000000
SITUACION_JURIDICA           0  142899   0.000000
FECHA_CAPTURA                0  142899   0.000000
FECHA_INGRESO                0  142899   0.000000
CALIFICADO                   0  142899   0.000000
AGRAVADO                     0  142899   0.000000
TENTATIVA                    0  142899   0.000000
SUBTITULO_DELITO             0  142899   0.000000
TITULO_DELITO                0  142899   0.000000
ESTADO                       0  142899   0.000000

### Delito

In [11]:
data['DELITO'].isnull().sum()

0

In [12]:
data['DELITO'].unique().shape

(259,)

Cleaning, trying to detect variables that are the same but are written differently. This is also a categorical feature, im converting it to type category

In [13]:
data['DELITO'] = data['DELITO'].apply(lambda x: ' '.join(unidecode.unidecode(re.sub(r'[^\w]', ' ',str(x)).lower()).split()))
data['DELITO'] = data['DELITO'].astype('category')
data['DELITO'].unique().shape

(259,)

Describing number of words per variable in feature delito

In [14]:
data['DELITO'].apply(lambda x: len(x.split())).describe()

count    142899.000000
mean          3.868425
std           3.682333
min           1.000000
25%           1.000000
50%           2.000000
75%           6.000000
max          20.000000
Name: DELITO, dtype: float64

In [15]:
data['DELITO'].value_counts().to_frame()

                                                    DELITO
hurto                                                53145
trafico fabricacion o porte de estupefacientes       23923
fabricacion trafico y porte de armas de fuego o...   16816
concierto para delinquir                              9864
homicidio                                             8897
...                                                    ...
calumnia                                                 1
atraco a mano armada nota solo para jurisdiccio...       1
danos o agravios a personas o a cosas destinada...       1
apoderamiento o alteracion de sistemas de ident...       1
abandono del puesto                                      1

[259 rows x 1 columns]

### Titulo Delito

In [16]:
data['TITULO_DELITO'].isnull().sum()

0

In [17]:
data['TITULO_DELITO'].unique().shape

(25,)

Cleaning, trying to detect variables that are the same but are written differently. This is also a categorical feature, im converting it to type category

In [18]:
data['TITULO_DELITO'] = data['TITULO_DELITO'].apply(lambda x: ' '.join(unidecode.unidecode(re.sub(r'[^\w]', ' ',str(x)).lower()).split()))
data['TITULO_DELITO'] = data['TITULO_DELITO'].astype('category')
data['TITULO_DELITO'].unique().shape

(25,)

Describing number of words per variable in feature delito

In [19]:
data['TITULO_DELITO'].apply(lambda x: len(x.split())).describe()

count    142899.000000
mean          4.454244
std           1.182478
min           2.000000
25%           4.000000
50%           4.000000
75%           4.000000
max          10.000000
Name: TITULO_DELITO, dtype: float64

In [20]:
data['TITULO_DELITO'].value_counts().to_frame()

                                                    TITULO_DELITO
contra el patrimonio economico                              56860
contra la seguridad publica                                 31591
contra la salud publica                                     25028
contra la vida y la integridad personal                     11329
contra la familia                                            3689
contra la eficaz y recta imparticion de justicia             3095
contra la libertad individual y otras garantias              2896
contra la libertad integridad y formacion sexuales           2847
contra la fe publica                                         2361
contra la administracion publica                             1360
contra el orden economico social                              520
contra el regimen constitucional y legal                      366
de la proteccion de la informacion y de los datos             315
contra los recursos naturales y el medio ambiente             245
delitos contra el servicio                                    153
contra personas y bienes protegidos por el dere...            141
contra los derechos de autor                                   31
contra la integridad moral                                     23
contra mecanismos de participacion democratica                 17
legislacion indigena                                           11
delitos de paramilitarismo y sicariato                          9
delitos contra la disciplina                                    5
accion de tutela                                                4
delitos contra la administracion publica                        2
contra la existencia y seguridad del estado                     1

### Subtitulo Delito

In [21]:
data['SUBTITULO_DELITO'].isnull().sum()

0

In [22]:
data['SUBTITULO_DELITO'].unique().shape

(25,)

Cleaning, trying to detect variables that are the same but are written differently. This is also a categorical feature, im converting it to type category

In [23]:
data['SUBTITULO_DELITO'] = data['SUBTITULO_DELITO'].apply(lambda x: ' '.join(unidecode.unidecode(re.sub(r'[^\w]', ' ',str(x)).lower()).split()))
data['SUBTITULO_DELITO'] = data['SUBTITULO_DELITO'].astype('category')
data['SUBTITULO_DELITO'].unique().shape

(25,)

Describing number of words per variable in feature delito

In [24]:
data['SUBTITULO_DELITO'].apply(lambda x: len(x.split())).describe()

count    142899.000000
mean          7.448946
std           5.922536
min           2.000000
25%           3.000000
50%           4.000000
75%           7.000000
max          19.000000
Name: SUBTITULO_DELITO, dtype: float64

In [25]:
data['SUBTITULO_DELITO'].value_counts().to_frame()

                                                    SUBTITULO_DELITO
de la estafa                                                   56860
de los delitos de peligro comun o que pueden oc...             31591
de las afectaciones a la salud publica                         25028
de la manipulacion genetica                                    11329
de la adopcion irregular                                        3689
de la fuga de presos                                            3095
apoderamiento y desvio de aeronaves naves o med...              2896
de la violacion                                                 2847
de la falsedad en documentos                                    2361
de la celebracion indebida de contratos                         1360
de la urbanizacion ilegal                                        520
de la rebelion sedicion y asonada                                366
de los atentados contra la confidencialidad la ...               315
delitos contra los animales                                      245
de la desercion                                                  153
delitos contra personas y bienes protegidos por...               141
de la violacion a los derechos de autor ley 44 ...                31
de la injuria y la calumnia                                       23
de la violacion al ejercicio de mecanismos de p...                17
de la corrupcion de menores                                       11
de la conformacion de grupos armados al margen ...                 9
de la desobediencia                                                5
accion de tutela                                                   4
del peculado                                                       2
de los delitos contra la seguridad del estado                      1

### Tentativa

In [26]:
data['TENTATIVA'].isnull().sum()

0

In [27]:
data['TENTATIVA'].unique().shape

(2,)

In [28]:
data['TENTATIVA'].value_counts().to_frame()

   TENTATIVA
N     132604
S      10295

In [29]:
data['TENTATIVA'] = data['TENTATIVA'].astype('category')

### Agravado

In [30]:
data['AGRAVADO'].isnull().sum()

0

In [31]:
data['AGRAVADO'].unique().shape

(2,)

In [32]:
data['AGRAVADO'].value_counts().to_frame()

   AGRAVADO
N     95699
S     47200

In [33]:
data['AGRAVADO'] = data['AGRAVADO'].astype('category')

### Calificado

In [34]:
data['CALIFICADO'].isnull().sum()

0

In [35]:
data['CALIFICADO'].unique().shape

(2,)

In [36]:
data['CALIFICADO'].value_counts().to_frame()

   CALIFICADO
N      102130
S       40769

In [37]:
data['CALIFICADO'] = data['CALIFICADO'].astype('category')

### Fecha Ingreso

In [38]:
data['FECHA_INGRESO'].isnull().sum()

0

In [39]:
data['FECHA_INGRESO'].unique().shape

(3785,)

In [40]:
data['FECHA_INGRESO'] = pd.to_datetime(data['FECHA_INGRESO'])

### Fecha Salida - has NaN

In [41]:
data['FECHA_SALIDA'].isnull().sum()

46554

In [42]:
data['FECHA_SALIDA'].unique().shape

(3649,)

In [43]:
data['FECHA_SALIDA'] = pd.to_datetime(data['FECHA_SALIDA'])

### Fecha Captura

In [44]:
data['FECHA_CAPTURA'].isnull().sum()

0

In [45]:
data['FECHA_CAPTURA'].unique().shape

(5635,)

In [46]:
data['FECHA_CAPTURA'] = pd.to_datetime(data['FECHA_CAPTURA'])

### SituaciÃ³n JurÃ­dica

In [47]:
data['SITUACION_JURIDICA'].isnull().sum()

0

In [48]:
data['SITUACION_JURIDICA'].unique().shape

(1,)

In [49]:
data['SITUACION_JURIDICA'].value_counts()

CO    142899
Name: SITUACION_JURIDICA, dtype: int64

In [50]:
data['SITUACION_JURIDICA'] = data['SITUACION_JURIDICA'].astype('category')

### AÃ±o nacimiento

In [51]:
data['ANO_NACIMIENTO'].isnull().sum()

0

In [52]:
data['ANO_NACIMIENTO'].unique().shape

(76,)

In [53]:
data['ANO_NACIMIENTO'].value_counts().to_frame()

      ANO_NACIMIENTO
1990            6835
1989            6752
1985            6664
1988            6654
1984            6645
...              ...
1934               4
1928               3
1926               3
1927               3
1925               1

[76 rows x 1 columns]

In [54]:
data['ANO_NACIMIENTO'] = data['ANO_NACIMIENTO'].astype(int)

### Edad

In [55]:
data['EDAD'].isnull().sum()

0

In [56]:
data['EDAD'].unique().shape

(76,)

In [57]:
data['EDAD'].value_counts().to_frame()

    EDAD
35  6881
30  6733
31  6705
29  6653
33  6550
..   ...
92     4
93     3
90     2
91     2
94     1

[76 rows x 1 columns]

In [58]:
data['EDAD'] = data['EDAD'].astype(int)

### Genero

In [59]:
data['GENERO'].isnull().sum()

0

In [60]:
data['GENERO'].unique().shape

(2,)

In [61]:
data['GENERO'].value_counts().to_frame()

           GENERO
MASCULINO  131485
FEMENINO    11414

In [62]:
data['GENERO'] = data['GENERO'].astype('category')

### Estado Civil - has NaN

In [63]:
data['ESTADO_CIVIL'].isnull().sum()

80089

In [64]:
data['ESTADO_CIVIL'].unique().shape

(9,)

In [65]:
data['ESTADO_CIVIL'].value_counts().to_frame()

                ESTADO_CIVIL
UNION LIBRE            37926
SOLTERO(A)             20988
CASADO(A)               2834
SEPARADO(A)              761
VIUDO(A)                 233
DIVORCIADO(A)             42
PENDIENTE POR             25
RELIGIOSO(A)               1

Making the data categorical but leaving the nan values to try and recover some data

In [151]:
data['ESTADO_CIVIL'] = data['ESTADO_CIVIL'].astype('category')
data['ESTADO_CIVIL'] = data['ESTADO_CIVIL'].cat.codes.replace(-1, np.nan)

Trying to fill the nan data with another rows from the same Intern, it seems that there no neighbors to use and recover. I got the same empty information

In [161]:
data.groupby(['INTERNOEN'])['ESTADO_CIVIL'].transform(lambda x: x.interpolate()).isnull().sum()

80089

### Pais Interno - has NaN

In [66]:
data['PAIS_INTERNO'].isnull().sum()

3162

In [67]:
data['PAIS_INTERNO'].unique().shape

(26,)

In [68]:
data['PAIS_INTERNO'].value_counts().to_frame()

                           PAIS_INTERNO
REPUBLICA DE COLOMBIA            139515
VENEZUELA                           105
ECUADOR                              25
PERU                                 16
ESPAÃ‘A                               11
BRASIL                               10
MEXICO                                9
ESTADOS UNIDOS DE AMERICA             8
CUBA                                  5
ITALIA                                4
AFGANISTAN                            4
HOLANDA                               4
GUATEMALA                             3
REPUBLICA DOMINICANA                  3
URUGUAY                               2
POLONIA                               2
COSTA RICA                            2
ARGENTINA                             2
FRANCIA                               1
PANAMA                                1
CHINA                                 1
ALEMANIA                              1
CANADA                                1
LITUANIA                              1
ALBANIA                               1

Making the data categorical but leaving the nan values to try and recover some data

In [157]:
data['PAIS_INTERNO'] = data['PAIS_INTERNO'].astype('category')
data['PAIS_INTERNO'] = data['PAIS_INTERNO'].cat.codes.replace(-1, np.nan)

Trying to fill the nan data with another rows from the same Intern, it seems that there no neighbors to use and recover. I got the same empty information

In [158]:
data.groupby(['INTERNOEN'])['PAIS_INTERNO'].transform(lambda x: x.interpolate(limit_direction='both')).isnull().sum()

3162

### Departamento - has NaN

In [69]:
data['DEPARTAMENTO'].isnull().sum()

7

In [70]:
data['DEPARTAMENTO'].unique().shape

(347,)

Cleaning, trying to detect variables that are the same but are written differently. This is also a categorical feature, im converting it to type category

In [72]:
data['DEPARTAMENTO'] = data['DEPARTAMENTO'].apply(lambda x: ' '.join(unidecode.unidecode(re.sub(r'[^\w]', ' ',str(x)).lower()).split()))
data['DEPARTAMENTO'].unique().shape

(347,)

In [73]:
data['DEPARTAMENTO'].value_counts().to_frame()

                           DEPARTAMENTO
antioquia                         21828
bogota distrito capital           19298
valle del cauca                   17999
santander                         10101
tolima                             6561
...                                 ...
puerto lopez meta                     1
calamar bolivar                       1
arboleda narino                       1
altos del rosario bolivar             1
cravo norte arauca                    1

[347 rows x 1 columns]

Making the data categorical but leaving the nan values to try and recover some data

In [159]:
data['DEPARTAMENTO'] = data['DEPARTAMENTO'].astype('category')
data['DEPARTAMENTO'] = data['DEPARTAMENTO'].cat.codes.replace(-1, np.nan)

Trying to fill the nan data with another rows from the same Intern, it seems that there no neighbors to use and recover. I got the same empty information

In [160]:
data.groupby(['INTERNOEN'])['DEPARTAMENTO'].transform(lambda x: x.interpolate(limit_direction='both')).isnull().sum()

7

### Ciudad - Decide what to do here

In [71]:
data['CIUDAD'].isnull().sum()

0

In [72]:
data['CIUDAD'].unique().shape

(1631,)

In [73]:
data['CIUDAD'].value_counts().to_frame()

                                     CIUDAD
BOGOTA DISTRITO CAPITAL               19232
MEDELLIN-ANTIOQUIA                    11054
SANTIAGO DE CALI-VALLE DEL CAUCA       9037
BUCARAMANGA-SANTANDER                  5559
BARRANQUILLA-ATLANTICO                 3300
...                                     ...
PUENTE ARANDA-BOGOTA DC                   1
SAN ANTONIO-SINCELEJO-SUCRE               1
SAN ANTONIO-JAMUNDI-VALLE DEL CAUCA       1
EL CARMEN-BOLIVAR-CAUCA                   1
LA ESPERANZA-JAMBALO-CAUCA                1

[1631 rows x 1 columns]

There are up to 5 strings divided by a hypen in this column, Have to decide what to do here.

In [74]:
data['CIUDAD'].apply(lambda x: len(x.split('-'))).value_counts().to_frame()

   CIUDAD
2  118911
1   22671
3    1307
4       7
5       3

Taking only the first position of the string separated by a hyphen, i was able to reduce the amount of cities by a bit more than 200. Could there be a possibility that there are cities named the same in different parts of the country?, that could be the explanation as to why the number is reduced.

In [75]:
data['CIUDAD'].apply(lambda x: x.split('-')[0]).value_counts().to_frame()

                         CIUDAD
BOGOTA DISTRITO CAPITAL   19232
MEDELLIN                  11054
SANTIAGO DE CALI           9037
BUCARAMANGA                5559
BARRANQUILLA               3300
...                         ...
SAN ANTERITO                  1
FILIPINAS                     1
MOSOCO                        1
EL CARITO                     1
CUPIAGUA                      1

[1406 rows x 1 columns]

### Reincidente

In [76]:
data['REINCIDENTE'].isnull().sum()

0

In [77]:
data['REINCIDENTE'].unique().shape

(1,)

In [78]:
data['REINCIDENTE'] = data['REINCIDENTE'].astype('category')

### Estado Ingreso - has NaN

In [79]:
data['ESTADO_INGRESO'].isnull().sum()

30

In [80]:
data['ESTADO_INGRESO'].unique().shape

(7,)

In [81]:
data['ESTADO_INGRESO'].value_counts().to_frame()

                        ESTADO_INGRESO
Intramuros                       86170
Prision Domiciliaria             37285
Detencion Domiciliaria           12177
Vigilancia Electronica            6927
Control Electronico                171
Espera Traslado                    139

Making the data categorical but leaving the nan values to try and recover some data

In [162]:
data['ESTADO_INGRESO'] = data['ESTADO_INGRESO'].astype('category')
data['ESTADO_INGRESO'] = data['ESTADO_INGRESO'].cat.codes.replace(-1, np.nan)

 Trying to fill the nan data with another rows from the same Intern, I think i am able to recover 2 data points

In [163]:
data.groupby(['INTERNOEN'])['ESTADO_INGRESO'].transform(lambda x: x.interpolate(limit_direction='both')).isnull().sum()

28

In [164]:
data['ESTADO_INGRESO'] = data.groupby(['INTERNOEN'])['ESTADO_INGRESO'].transform(lambda x: x.interpolate(limit_direction='both'))

### Actividades Trabajo

In [82]:
data['ACTIVIDADES_TRABAJO'].isnull().sum()

0

In [83]:
data['ACTIVIDADES_TRABAJO'].unique().shape

(2,)

In [84]:
data['ACTIVIDADES_TRABAJO'].value_counts().to_frame()

    ACTIVIDADES_TRABAJO
SI                77529
NO                65370

In [85]:
data['ACTIVIDADES_TRABAJO'] = data['ACTIVIDADES_TRABAJO'].astype('category')

### Actividades Estudio

In [86]:
data['ACTIVIDADES_ESTUDIO'].isnull().sum()

0

In [87]:
data['ACTIVIDADES_ESTUDIO'].unique().shape

(2,)

In [88]:
data['ACTIVIDADES_ESTUDIO'].value_counts().to_frame()

    ACTIVIDADES_ESTUDIO
SI                94688
NO                48211

In [89]:
data['ACTIVIDADES_ESTUDIO'] = data['ACTIVIDADES_ESTUDIO'].astype('category')

### Activades EnseÃ±anza

In [90]:
data['ACTIVIDADES_ENSEÃ‘ANZA'].isnull().sum()

0

In [91]:
data['ACTIVIDADES_ENSEÃ‘ANZA'].unique().shape

(2,)

In [92]:
data['ACTIVIDADES_ENSEÃ‘ANZA'].value_counts().to_frame()

    ACTIVIDADES_ENSEÃ‘ANZA
NO                 140290
SI                   2609

In [93]:
data['ACTIVIDADES_ENSEÃ‘ANZA'] = data['ACTIVIDADES_ENSEÃ‘ANZA'].astype('category')

### Nivel Educativo

In [94]:
data['NIVEL_EDUCATIVO'].isnull().sum()

0

In [95]:
data['NIVEL_EDUCATIVO'].unique().shape

(12,)

In [96]:
data['NIVEL_EDUCATIVO'].value_counts().to_frame()

                     NIVEL_EDUCATIVO
CICLO II                       54353
CICLO I                        28198
CICLO III                      27839
CICLO IV                       25109
ANALFABETA                      3717
PROFESIONAL                     1636
TECNICO                         1328
TECNOLOGICO                      460
ESPECIALIZACION                  145
TECNICO PROFESIONAL               61
POST GRADO                        33
MAGISTER                          20

In [97]:
data['NIVEL_EDUCATIVO'] = data['NIVEL_EDUCATIVO'].astype('category')

### Hijos Menores

In [98]:
data['HIJOS_MENORES'].isnull().sum()

0

In [99]:
data['HIJOS_MENORES'].unique().shape

(2,)

In [100]:
data['HIJOS_MENORES'].value_counts().to_frame()

    HIJOS_MENORES
SI         112862
NO          30037

In [131]:
data['HIJOS_MENORES'] = data['HIJOS_MENORES'].astype('category')

### Condic Expecional  - has NaN - fixed

In [101]:
data['CONDIC_EXPECIONAL'].isnull().sum()

129585

In [102]:
data['CONDIC_EXPECIONAL'].unique().shape

(53,)

According to the Ministry of Justice, the null values here represent the people that dont think they have a exceptional condition

In [103]:
data.loc[data[data['CONDIC_EXPECIONAL'].isnull()].index, 'CONDIC_EXPECIONAL'] = 'NO'

In [104]:
data['CONDIC_EXPECIONAL'].value_counts().to_frame()

                                                    CONDIC_EXPECIONAL
NO                                                             129585
AFRO COLOMBIANO                                                  5762
ADULTO MAYOR                                                     2361
CON DISCAPACIDAD                                                 1845
INDIGENA                                                         1068
LESBIANA                                                          452
BISEXUAL                                                          395
GAYS                                                              252
MADRE GESTANTE                                                    250
EXTRANJEROS                                                       176
TRANSEXUAL                                                        151
AFRO COLOMBIANO -CON DISCAPACIDAD                                  91
ADULTO MAYOR -AFRO COLOMBIANO                                      74
ROM                                                                62
ADULTO MAYOR -CON DISCAPACIDAD                                     57
MADRE LACTANTE                                                     35
ADULTO MAYOR -INDIGENA                                             33
GAYS -TRANSEXUAL                                                   28
RAIZALES                                                           26
BISEXUAL -LESBIANA                                                 18
AFRO COLOMBIANO -INDIGENA                                          15
AFRO COLOMBIANO -BISEXUAL                                          15
CON DISCAPACIDAD -LESBIANA                                         12
CON DISCAPACIDAD -INDIGENA                                         11
AFRO COLOMBIANO -EXTRANJEROS                                       10
AFRO COLOMBIANO -GAYS                                              10
AFRO COLOMBIANO -LESBIANA                                           9
ADULTO MAYOR -LESBIANA                                              9
INTERSEXUAL                                                         9
AFRO COLOMBIANO -RAIZALES                                           8
BISEXUAL -GAYS                                                      7
CON DISCAPACIDAD -EXTRANJEROS                                       6
LESBIANA -TRANSEXUAL                                                6
BISEXUAL -CON DISCAPACIDAD                                          6
ADULTO MAYOR -EXTRANJEROS                                           5
CON DISCAPACIDAD -GAYS                                              5
AFRO COLOMBIANO -MADRE GESTANTE                                     5
ADULTO MAYOR -BISEXUAL                                              4
GAYS -INDIGENA                                                      3
CON DISCAPACIDAD -TRANSEXUAL                                        3
BISEXUAL -TRANSEXUAL                                                3
MADRE GESTANTE -MADRE LACTANTE                                      2
GAYS -LESBIANA                                                      2
AFRO COLOMBIANO -TRANSEXUAL                                         2
INDIGENA -LESBIANA                                                  2
ADULTO MAYOR -LESBIANA -TRANSEXUAL                                  2
CON DISCAPACIDAD -ROM                                               1
ADULTO MAYOR -CON DISCAPACIDAD -INDIGENA                            1
AFRO COLOMBIANO -EXTRANJEROS -LESBIANA -TRANSEXUAL                  1
AFRO COLOMBIANO -BISEXUAL -TRANSEXUAL                               1
LESBIANA -RAIZALES                                                  1
ADULTO MAYOR -CON DISCAPACIDAD -MADRE GESTANTE                      1
EXTRANJEROS -INDIGENA                                               1

In [105]:
data['CONDIC_EXPECIONAL'].isnull().sum()

0

In [106]:
data['CONDIC_EXPECIONAL'] = data['CONDIC_EXPECIONAL'].astype('category')

### CÃ³digo establecimiento

In [107]:
data['CODIGO_ESTABLECIMIENTO'].isnull().sum()

0

In [108]:
data['CODIGO_ESTABLECIMIENTO'].unique().shape

(160,)

In [109]:
data['CODIGO_ESTABLECIMIENTO'].value_counts().to_frame()

     CODIGO_ESTABLECIMIENTO
113                   11528
502                    7641
226                    6328
410                    5336
114                    5029
..                      ...
534                      10
529                       3
155                       1
605                       1
234                       1

[160 rows x 1 columns]

In [110]:
data['CODIGO_ESTABLECIMIENTO'] = data['CODIGO_ESTABLECIMIENTO'].astype(int)

### Establecimiento

In [111]:
data['ESTABLECIMIENTO'].isnull().sum()

0

In [112]:
data['ESTABLECIMIENTO'].unique().shape

(160,)

In [113]:
data['ESTABLECIMIENTO'].value_counts().to_frame()

                                                    ESTABLECIMIENTO
COMPLEJO CARCELARIO Y PENITENCIARIO METROPOLITA...            11528
EPMSC MEDELLIN                                                 7641
EPMSC CALI (ERE)                                               6328
CPMS BUCARAMANGA (ERE)                                         5336
EC BOGOTA                                                      5029
...                                                             ...
EC PEDREGAL MEDELLIN                                             10
RM MEDELLIN                                                       3
EPMSC MANZANARES                                                  1
RM GUAMO                                                          1
RM CALI                                                           1

[160 rows x 1 columns]

In [114]:
data['ESTABLECIMIENTO'] = data['ESTABLECIMIENTO'].apply(lambda x: ' '.join(unidecode.unidecode(re.sub(r'[^\w]', ' ',str(x)).lower()).split()))
data['ESTABLECIMIENTO'] = data['ESTABLECIMIENTO'].astype('category')
data['ESTABLECIMIENTO'].unique().shape

(160,)

### Depto Establecimiento - has Nan

In [115]:
data['DEPTO_ESTABLECIMIENTO'].isnull().sum()

2791

In [116]:
data['DEPTO_ESTABLECIMIENTO'].unique().shape

(30,)

In [117]:
data['DEPTO_ESTABLECIMIENTO'].value_counts().to_frame()

                          DEPTO_ESTABLECIMIENTO
BOGOTA D.C.                               19008
ANTIOQUIA                                 18591
VALLE DEL CAUCA                           17346
SANTANDER                                  9274
META                                       7996
BOYACA                                     7287
TOLIMA                                     6006
CUNDINAMARCA                               5767
CALDAS                                     5296
HUILA                                      5192
CAUCA                                      4657
NORTE DE SANTANDER                         4421
NARIÃ‘O                                     4156
RISARALDA                                  3215
CORDOBA                                    3045
QUINDIO                                    2604
ATLANTICO                                  2564
CAQUETA                                    2285
CESAR                                      2113
BOLIVAR                                    1931
CASANARE                                   1841
SUCRE                                      1472
MAGDALENA                                  1452
CHOCO                                       641
ARAUCA                                      513
LA GUAJIRA                                  456
PUTUMAYO                                    378
AMAZONAS                                    349
SAN ANDRES Y PROVIDENCIA                    252

Making the data categorical but leaving the nan values to try and recover some data

In [165]:
data['DEPTO_ESTABLECIMIENTO'] = data['DEPTO_ESTABLECIMIENTO'].astype('category')
data['DEPTO_ESTABLECIMIENTO'] = data['DEPTO_ESTABLECIMIENTO'].cat.codes.replace(-1, np.nan)

Trying to fill the nan data with another rows from the same Intern, it seems that there no neighbors to use and recover. I got the same empty information when groupying with fecha_ingreso too. If i group just by INTERNOEN i can recover almost 1000 missing values, which i think belong to the same person being captured in different departamentos in colombia at different times

In [167]:
data.groupby(['INTERNOEN', 'FECHA_INGRESO'])['DEPTO_ESTABLECIMIENTO'].transform(lambda x: x.interpolate(limit_direction='both')).isnull().sum()

2791

### Mun Establecimiento - has Nan

In [119]:
data['MPIO_ESTABLECIMIENTO'].isnull().sum()

2791

In [120]:
data['MPIO_ESTABLECIMIENTO'].unique().shape

(123,)

In [121]:
data['MPIO_ESTABLECIMIENTO'].value_counts().to_frame()

                        MPIO_ESTABLECIMIENTO
BOGOTA D.C.                            19008
MEDELLIN                               10815
SANTIAGO DE CALI                        6328
BUCARAMANGA                             5919
ACACIAS                                 5465
...                                      ...
MALAGA                                    82
SABANALARGA                               68
SANTAFE DE ANTIOQUIA                      65
SAN VICENTE DE CHUCURI                    64
COROZAL                                   29

[122 rows x 1 columns]

Making the data categorical but leaving the nan values to try and recover some data

In [169]:
data['MPIO_ESTABLECIMIENTO'] = data['MPIO_ESTABLECIMIENTO'].astype('category')
data['MPIO_ESTABLECIMIENTO'] = data['MPIO_ESTABLECIMIENTO'].cat.codes.replace(-1, np.nan)

Trying to fill the nan data with another rows from the same Intern, it seems that there no neighbors to use and recover. I got the same nan information when groupying with fecha_ingreso too. If i group just by INTERNOEN i can recover almost 1000 missing values, which i think belong to the same person being captured in different departamentos in colombia at different times

In [171]:
data.groupby(['INTERNOEN'])['MPIO_ESTABLECIMIENTO'].transform(lambda x: x.interpolate(limit_direction='both')).isnull().sum()

1782

### Regional

In [122]:
data['REGIONAL'].isnull().sum()

0

In [123]:
data['REGIONAL'].unique().shape

(6,)

In [124]:
data['REGIONAL'].value_counts().to_frame()

              REGIONAL
CENTRAL          51092
OCCIDENTE        27146
NOROESTE         19287
VIEJO CALDAS     17459
ORIENTE          14830
NORTE            13085

In [125]:
data['REGIONAL'] = data['REGIONAL'].astype('category')

### Estado

In [126]:
data['ESTADO'].isnull().sum()

0

In [127]:
data['ESTADO'].unique().shape

(2,)

In [128]:
data['ESTADO'].value_counts().to_frame()

        ESTADO
Baja     96002
Activo   46897

In [129]:
data['ESTADO'] = data['ESTADO'].astype('category')

### Empty

In [132]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142899 entries, 6 to 142904
Data columns (total 32 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   INTERNOEN               142899 non-null  object
 1   DELITO                  142899 non-null  category
 2   TITULO_DELITO           142899 non-null  category
 3   SUBTITULO_DELITO        142899 non-null  category
 4   TENTATIVA               142899 non-null  category
 5   AGRAVADO                142899 non-null  category
 6   CALIFICADO              142899 non-null  category
 7   FECHA_INGRESO           142899 non-null  datetime64[ns]
 8   FECHA_SALIDA            96345 non-null   datetime64[ns]
 9   FECHA_CAPTURA           142899 non-null  datetime64[ns]
 10  SITUACION_JURIDICA      142899 non-null  category
 11  ANO_NACIMIENTO          142899 non-null  int64
 12  EDAD                    142899 non-null  int64
 13  GENERO                  142899 non-null  category
 14  ESTADO_CIVIL            62810 non-null   object
 15  PAIS_INTERNO            139737 non-null  object
 16  DEPARTAMENTO            142892 non-null  object
 17  CIUDAD                  142899 non-null  object
 18  REINCIDENTE             142899 non-null  category
 19  ESTADO_INGRESO          142869 non-null  object
 20  ACTIVIDADES_TRABAJO     142899 non-null  category
 21  ACTIVIDADES_ESTUDIO     142899 non-null  category
 22  ACTIVIDADES_ENSEÃ‘ANZA   142899 non-null  category
 23  NIVEL_EDUCATIVO         142899 non-null  category
 24  HIJOS_MENORES           142899 non-null  category
 25  CONDIC_EXPECIONAL       142899 non-null  category
 26  CODIGO_ESTABLECIMIENTO  142899 non-null  int64
 27  ESTABLECIMIENTO         142899 non-null  category
 28  DEPTO_ESTABLECIMIENTO   140108 non-null  object
 29  MPIO_ESTABLECIMIENTO    140108 non-null  object
 30  REGIONAL                142899 non-null  category
 31  ESTADO                  142899 non-null  category
dtypes: category(18), datetime64[ns](3), int64(3), object(8)
memory usage: 18.0+ MB

In [133]:
vacios = data.isnull().sum().to_frame()
vacios.columns = ['num']
vacios['total'] = [len(data)]*len(vacios)
vacios['%'] = 100*(vacios['num'] / vacios['total'])
vacios = vacios.sort_values(by = '%', ascending = False)
vacios

                          num   total          %
ESTADO_CIVIL            80089  142899  56.045879
FECHA_SALIDA            46554  142899  32.578255
PAIS_INTERNO             3162  142899   2.212752
MPIO_ESTABLECIMIENTO     2791  142899   1.953128
DEPTO_ESTABLECIMIENTO    2791  142899   1.953128
ESTADO_INGRESO             30  142899   0.020994
DEPARTAMENTO                7  142899   0.004899
CODIGO_ESTABLECIMIENTO      0  142899   0.000000
CONDIC_EXPECIONAL           0  142899   0.000000
REINCIDENTE                 0  142899   0.000000
HIJOS_MENORES               0  142899   0.000000
NIVEL_EDUCATIVO             0  142899   0.000000
ACTIVIDADES_ENSEÃ‘ANZA       0  142899   0.000000
ACTIVIDADES_ESTUDIO         0  142899   0.000000
ACTIVIDADES_TRABAJO         0  142899   0.000000
ESTABLECIMIENTO             0  142899   0.000000
REGIONAL                    0  142899   0.000000
INTERNOEN                   0  142899   0.000000
CIUDAD                      0  142899   0.000000
DELITO                      0  142899   0.000000
GENERO                      0  142899   0.000000
EDAD                        0  142899   0.000000
ANO_NACIMIENTO              0  142899   0.000000
SITUACION_JURIDICA          0  142899   0.000000
FECHA_CAPTURA               0  142899   0.000000
FECHA_INGRESO               0  142899   0.000000
CALIFICADO                  0  142899   0.000000
AGRAVADO                    0  142899   0.000000
TENTATIVA                   0  142899   0.000000
SUBTITULO_DELITO            0  142899   0.000000
TITULO_DELITO               0  142899   0.000000
ESTADO                      0  142899   0.000000

## EDA

### Number of Captures by Inmate

In [149]:
number_captures_by_inmate = data.groupby(['INTERNOEN'])['FECHA_INGRESO'].nunique().value_counts() \
                            .reset_index().rename(columns = {'index': 'Unique Fecha Ingreso', 
                                                             'FECHA_INGRESO': 'Number of Inmates'})

In [153]:
fig = px.bar(number_captures_by_inmate, 
             x='Unique Fecha Ingreso', 
             y='Number of Inmates',
             title = 'Inmates recividisim count')
fig.show()

### Number of Crimes per Capture

In [157]:
number_crimes_per_capture = data.groupby(['INTERNOEN'])['FECHA_INGRESO'].count().value_counts() \
                            .reset_index().rename(columns = {'index': 'Crimes per capture', 
                                                             'FECHA_INGRESO': 'Number of Inmates'})
number_crimes_per_capture

    Crimes per capture  Number of Inmates
0                    1              39684
1                    2              23652
2                    3               9620
3                    4               3724
4                    5               1359
5                    6                487
6                    7                195
7                    8                 72
8                    9                 21
9                   10                 13
10                  12                  5
11                  11                  3
12                  14                  2
13                  13                  2
14                  16                  1
15                  15                  1

In [158]:
fig = px.bar(number_crimes_per_capture, 
             x='Crimes per capture', 
             y='Number of Inmates',
             title = 'Inmates crimes per capture')
fig.show()

### Joining the 2 Above plots

In [188]:
data['captures_by_inmate'] = data.groupby(['INTERNOEN'])['FECHA_INGRESO'].transform(lambda x: len(x.unique()))
data['crimes_per_inmate_capture'] = data.groupby(['INTERNOEN'])['FECHA_INGRESO'].transform('count')

In [190]:
temp = data.groupby(['INTERNOEN','captures_by_inmate'])['crimes_per_inmate_capture'].count() \
        .reset_index()
temp

,INTERNOEN,captures_by_inmate,crimes_per_inmate_capture
0,000334541B6B3305CE91761942D7B381248777EA,1,1
1,000357E4F19E3722BA43488F69A7D7DECFC620C4,1,2
2,000393AD7FE65FBBE53A61B0EAA1FB9A62F71450,1,2
3,0003BE212427DF2E9CCB2449B6012EF915B3FAE3,1,1
4,00043EB254F6E5EFCE77A8C20BC709B63A4BE443,1,1
...,...,...,...
78836,FFFC9F1A5227DDD6F78179576170997CAAB63AD7,2,2
78837,FFFD204514A5DF9EE2F1E36CDBF16F0B79C45590,1,1
78838,FFFE667F85CF452DB70B955609103CB72ECA3EEB,1,1
78839,FFFF73D0B7088A0EF0A4B7F3CC26F8CF672C6EC1,1,1
78840,FFFFB0916FD16C7AF652FF211662005C40F70E33,1,3

In [205]:
heat_matrix = temp.groupby(['captures_by_inmate','crimes_per_inmate_capture'])[['INTERNOEN']].count().unstack().fillna(0.0001)
heat_matrix

                            INTERNOEN                                    \
crimes_per_inmate_capture          1           2          3          4
captures_by_inmate
1                          39684.0000  13413.0000  3928.0000  1158.0000
2                              0.0001  10239.0000  4049.0000  1466.0000
3                              0.0001      0.0001  1643.0000   833.0000
4                              0.0001      0.0001     0.0001   267.0000
5                              0.0001      0.0001     0.0001     0.0001
6                              0.0001      0.0001     0.0001     0.0001
7                              0.0001      0.0001     0.0001     0.0001
9                              0.0001      0.0001     0.0001     0.0001

                                                                         \
crimes_per_inmate_capture        5         6        7        8       9
captures_by_inmate
1                          369.0000  115.0000  43.0000  17.0000  3.0000
2                          467.0000  167.0000  55.0000  23.0000  6.0000
3                          344.0000  127.0000  49.0000  14.0000  8.0000
4                          134.0000   53.0000  24.0000  12.0000  3.0000
5                           45.0000   21.0000  18.0000   5.0000  1.0000
6                            0.0001    4.0000   4.0000   1.0000  0.0001
7                            0.0001    0.0001   2.0000   0.0001  0.0001
9                            0.0001    0.0001   0.0001   0.0001  0.0001

                                                                           \
crimes_per_inmate_capture      10      11      12      13      14      15
captures_by_inmate
1                          3.0000  1.0000  2.0000  1.0000  1.0000  0.0001
2                          2.0000  1.0000  1.0000  0.0001  1.0000  1.0000
3                          2.0000  1.0000  2.0000  0.0001  0.0001  0.0001
4                          4.0000  0.0001  0.0001  0.0001  0.0001  0.0001
5                          0.0001  0.0001  0.0001  1.0000  0.0001  0.0001
6                          1.0000  0.0001  0.0001  0.0001  0.0001  0.0001
7                          0.0001  0.0001  0.0001  0.0001  0.0001  0.0001
9                          1.0000  0.0001  0.0001  0.0001  0.0001  0.0001


crimes_per_inmate_capture      16
captures_by_inmate
1                          1.0000
2                          0.0001
3                          0.0001
4                          0.0001
5                          0.0001
6                          0.0001
7                          0.0001
9                          0.0001

In [208]:
fig = px.imshow(
                #np.log((heat_matrix.values / heat_matrix.values.max()) * 100),
                np.log(heat_matrix.values),
                labels=dict(x="Crimes per inmates capture", y="Captures by inmate"),#, color="PM2.5_WHO"),
                x=heat_matrix.columns.get_level_values(1),
                y=heat_matrix.index.get_level_values(0)
               )
fig.update_xaxes(side="top")
                 #title='Crimes per capture vs Captures by Inmate')
fig.show()

### Fecha Ingreso Distribution by Year and Month

In [125]:
aÃ±os_fech_ing = data['FECHA_INGRESO'].dt.year.value_counts().to_frame().reset_index()
aÃ±os_fech_ing.columns = ['aÃ±o','counts']
aÃ±os_fech_ing.sort_values(by='aÃ±o')

     aÃ±o  counts
9   2010   10222
5   2011   13119
8   2012   10611
6   2013   12523
7   2014   11155
4   2015   13933
3   2016   15184
2   2017   15759
1   2018   17543
0   2019   18317
10  2020    4133

In [126]:
aÃ±os_fech_cap = data['FECHA_CAPTURA'].dt.year.value_counts().to_frame().reset_index()
aÃ±os_fech_cap.columns = ['aÃ±o','counts']
aÃ±os_fech_cap.sort_values(by='aÃ±o')

     aÃ±o  counts
27  1978       1
25  1994       5
26  1995       3
24  1996      20
23  1997      28
22  1998      32
21  1999      45
20  2000      93
19  2001     108
18  2002     165
17  2003     212
16  2004     280
15  2005     432
14  2006     619
13  2007    1471
11  2008    2754
10  2009    4565
8   2010   11203
4   2011   13221
6   2012   12482
7   2013   11738
5   2014   12680
3   2015   13228
2   2016   14057
1   2017   14979
0   2018   15097
9   2019   11043
12  2020    1938

In [127]:
fecha_ing_count = data.groupby(['INTERNOEN'])['FECHA_INGRESO'].apply(lambda x: len(np.unique(x))).value_counts().to_frame()
fecha_ing_count['%'] = 100*(fecha_ing_count['FECHA_INGRESO'] / fecha_ing_count['FECHA_INGRESO'].sum())
fecha_ing_count

   FECHA_INGRESO          %
1          58682  74.580278
2          16398  20.840588
3           3007   3.821664
4            493   0.626565
5             90   0.114383
6             10   0.012709
7              2   0.002542
9              1   0.001271

In [128]:
fecha_cap_count = data.groupby(['INTERNOEN'])['FECHA_CAPTURA'].apply(lambda x: len(np.unique(x))).value_counts().to_frame()
fecha_cap_count['%'] = 100*(fecha_cap_count['FECHA_CAPTURA'] / fecha_cap_count['FECHA_CAPTURA'].sum())
fecha_cap_count

    FECHA_CAPTURA          %
1           55415  70.428174
2           17647  22.427970
3            4320   5.490385
4             983   1.249317
5             230   0.292312
6              57   0.072443
7              25   0.031773
8               3   0.003813
9               2   0.002542
13              1   0.001271

In [136]:
data.INTERNOEN.unique().shape

(78683,)

In [135]:
data.groupby(['INTERNOEN'])[['DELITO']].count().describe(percentiles=[0.25, 0.5, 0.75, 0.9, 0.95])

             DELITO
count  78683.000000
mean       1.811052
std        1.080983
min        1.000000
25%        1.000000
50%        1.000000
75%        2.000000
90%        3.000000
95%        4.000000
max       16.000000