# DATA LECTURE AND QUALITY ANALYSIS FROM PYTHON

In [20]:
#Packages:
import pandas as pd
import string
import os
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sqlalchemy import create_engine, text

#maximum number of rows to display
pd.options.display.max_rows = 20
engine = create_engine('postgresql://team77:mintic2020.@postgres/minjusticia', max_overflow=20)
def runQuery(sql):
    result = engine.connect().execution_options(isolation_level="AUTOCOMMIT").execute((text(sql)))
    return pd.DataFrame(result.fetchall(), columns=result.keys())


def insertQuery(sql):
    result = engine.connect().execution_options(isolation_level="AUTOCOMMIT").execute((text(sql)))
    return 1

## INSERT DATA

In [2]:
# data reading from excel
data = pd.read_excel('data/ReincidenciaPospenadosNal201011Junio2020Rev.xlsx', skiprows = 6)
data.head()
data.count()

INTERNOEN                142899
DELITO                   142899
TITULO_DELITO            142899
SUBTITULO_DELITO         142899
TENTATIVA                142899
                          ...
ESTABLECIMIENTO          142899
DEPTO_ESTABLECIMIENTO    140108
MPIO_ESTABLECIMIENTO     140108
REGIONAL                 142899
ESTADO                   142899
Length: 32, dtype: int64

In [7]:
data.columns

Index(['INTERNOEN', 'DELITO', 'TITULO_DELITO', 'SUBTITULO_DELITO', 'TENTATIVA',
       'AGRAVADO', 'CALIFICADO', 'FECHA_INGRESO', 'FECHA_SALIDA',
       'FECHA_CAPTURA', 'SITUACION_JURIDICA', 'ANO_NACIMIENTO', 'EDAD',
       'GENERO', 'ESTADO_CIVIL', 'PAIS_INTERNO', 'DEPARTAMENTO', 'CIUDAD',
       'REINCIDENTE', 'ESTADO_INGRESO', 'ACTIVIDADES_TRABAJO',
       'ACTIVIDADES_ESTUDIO', 'ACTIVIDADES_ENSEÑANZA', 'NIVEL_EDUCATIVO',
       'HIJOS_MENORES', 'CONDIC_EXPECIONAL', 'CODIGO_ESTABLECIMIENTO',
       'ESTABLECIMIENTO', 'DEPTO_ESTABLECIMIENTO', 'MPIO_ESTABLECIMIENTO',
       'REGIONAL', 'ESTADO'],
      dtype='object')

### insert people data

In [21]:
# adjust exceptional conditions for people

data_people = data[['INTERNOEN', 'GENERO', 'PAIS_INTERNO', 'REINCIDENTE', 'ANO_NACIMIENTO', 
                        'ESTADO_CIVIL','NIVEL_EDUCATIVO', 'CONDIC_EXPECIONAL']].drop_duplicates(subset = ["INTERNOEN"])
data_people = data_people.reset_index(drop=True)

data_people['CONDIC_EXPECIONAL'].unique()
data_people.count()

INTERNOEN            78841
GENERO               78841
PAIS_INTERNO         76962
REINCIDENTE          78841
ANO_NACIMIENTO       78841
ESTADO_CIVIL         33816
NIVEL_EDUCATIVO      78841
CONDIC_EXPECIONAL     7146
dtype: int64

In [22]:
# reconocimiento_etnico , diversidad_sexual , extranjero
############## etnic reconnition
data_people['CONDIC_EXPECIONAL'] = data_people['CONDIC_EXPECIONAL'].fillna('NINGUNO')
etnic_recognition = runQuery("""select * from reconocimiento_etnico""")
data_people['reconocimiento_etnico'] = 'NINGUNO'
for i in etnic_recognition.index:
    data_people.loc[(data_people['CONDIC_EXPECIONAL'].str.contains(etnic_recognition['nombre'].values[i])),'reconocimiento_etnico'] =  etnic_recognition['nombre'].values[i]
#data_people[~(data_people['reconocimiento_etnico'] == 'NINGUNO')]['reconocimiento_etnico']

############## foreign

data_people['extranjero'] = 'N'
data_people.loc[(data_people['CONDIC_EXPECIONAL'].str.contains('EXTRANJEROS')),'extranjero'] =  'S'
data_people['CONDIC_EXPECIONAL']
#data_people[~(data_people['extranjero'] == 'N')]['extranjero']

############## sexual diversity
sexual_dive = runQuery("""select * from diversidad_sexual""")
sexual_dive
data_people['diversidad_sexual'] = 'N'
for i in sexual_dive.index:
    data_people.loc[(data_people['CONDIC_EXPECIONAL'].str.contains(sexual_dive['nombre'].values[i])),'diversidad_sexual'] =  'S'

data_people[~(data_people['diversidad_sexual'] == 'N')]['diversidad_sexual']

188      S
195      S
647      S
654      S
698      S
        ..
78324    S
78430    S
78578    S
78692    S
78834    S
Name: diversidad_sexual, Length: 733, dtype: object

In [23]:
data_people.to_sql('personas_tmp', con=engine)
runQuery('select * from personas_tmp limit 5')
runQuery('SELECT public.tcompararpersonas();')

   tcompararpersonas
0                  1

In [24]:
############## sexual diversity
personas_genero = runQuery("""select * from persona where diversidad_sexual = 2""")
personas_genero
for i in personas_genero.index:
    for j in sexual_dive.index:
        if sexual_dive['nombre'].values[j] in personas_genero['condicion_exepcional'].values[i]:
            query = str(personas_genero['id_persona'].values[i])+', '+str(sexual_dive['id_diversidad_sexual'].values[j])
            insertQuery('INSERT INTO public.persona_diversidad_sexual (id_persona, id_diversidad_sexual) VALUES('+query+');')

In [25]:
# Insert reg data
data_reg= data[['INTERNOEN', 'GENERO','DELITO','ESTADO_INGRESO','FECHA_CAPTURA',
                'FECHA_INGRESO','ESTABLECIMIENTO','TENTATIVA','SUBTITULO_DELITO',
       'AGRAVADO', 'CALIFICADO','FECHA_SALIDA','EDAD','DEPARTAMENTO', 'CIUDAD','ACTIVIDADES_TRABAJO',
       'ACTIVIDADES_ESTUDIO', 'ACTIVIDADES_ENSEÑANZA','HIJOS_MENORES', 'CONDIC_EXPECIONAL','ESTADO','SITUACION_JURIDICA']]
data_reg.count()

INTERNOEN                142899
GENERO                   142899
DELITO                   142899
ESTADO_INGRESO           142869
FECHA_CAPTURA            142899
                          ...
ACTIVIDADES_ENSEÑANZA    142899
HIJOS_MENORES            142899
CONDIC_EXPECIONAL         13314
ESTADO                   142899
SITUACION_JURIDICA       142899
Length: 22, dtype: int64

In [26]:
data_reg['CONDIC_EXPECIONAL'] = data_reg['CONDIC_EXPECIONAL'].fillna('NINGUNO')

data_reg['madre_gestante'] = 'NA'
data_reg.loc[(data_reg['GENERO'].str.contains('FEMENINO')),'madre_gestante'] = 'N'
data_reg.loc[(data_reg['CONDIC_EXPECIONAL'].str.contains('MADRE GESTANTE')),'madre_gestante'] =  'S'
#data_reg['CONDIC_EXPECIONAL']
#data_reg[~(data_reg['madre_gestante'] == 'NA')]['madre_gestante']

data_reg['madre_lactante'] = 'NA'
data_reg.loc[(data_reg['GENERO'].str.contains('FEMENINO')),'madre_lactante'] = 'N'
data_reg.loc[(data_reg['CONDIC_EXPECIONAL'].str.contains('MADRE LACTANTE')),'madre_lactante'] =  'S'
#data_reg['CONDIC_EXPECIONAL']
#data_reg[~(data_reg['madre_lactante'] == 'NA')]['madre_lactante']
    

data_reg['discapacidad'] = 'N'
data_reg.loc[(data_reg['CONDIC_EXPECIONAL'].str.contains('CON DISCAPACIDAD')),'discapacidad'] =  'S'
#data_reg['CONDIC_EXPECIONAL']
#data_reg[~(data_reg['discapacidad'] == 'N')]['discapacidad']



data_reg['adulto_mayor'] = 'N'
data_reg.loc[(data_reg['CONDIC_EXPECIONAL'].str.contains('ADULTO MAYOR')),'adulto_mayor'] =  'S'
#data_reg['CONDIC_EXPECIONAL']
#data_reg[~(data_reg['adulto_mayor'] == 'N')]['adulto_mayor']
data_reg.count()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/opt/conda/lib/python3.7/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

INTERNOEN             142899
GENERO                142899
DELITO                142899
ESTADO_INGRESO        142869
FECHA_CAPTURA         142899
                       ...
SITUACION_JURIDICA    142899
madre_gestante        142899
madre_lactante        142899
discapacidad          142899
adulto_mayor          142899
Length: 26, dtype: int64

In [27]:
data_reg.to_sql('registros_tmp', con=engine)

runQuery('select * from registros_tmp limit 5')

runQuery('SELECT public.tcompararreg();')

   tcompararreg
0             1

In [19]:
data_reg['AGRAVADO'].unique()

array(['N', 'S'], dtype=object)